@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans TC', sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@media all and (max-width: 768px) {
  .m_header {
    position: relative; }
    .m_header .navbar {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      background: url("../../image/headerfooter/m_navbar_bg.png") no-repeat 0 0/cover; }
    .m_header .burger {
      width: 33%; }
      .m_header .burger div {
        width: 50px;
        height: 50px;
        position: relative;
        cursor: pointer; }
        .m_header .burger div::before {
          content: "";
          width: 36px;
          height: 2px;
          position: absolute;
          top: 11px;
          right: 0;
          bottom: auto;
          left: 0;
          margin: auto;
          background-color: #F6EED4; }
        .m_header .burger div span {
          width: 36px;
          height: 2px;
          position: absolute;
          top: 24px;
          right: 0;
          bottom: auto;
          left: 0;
          margin: auto;
          background-color: #F6EED4; }
        .m_header .burger div::after {
          content: "";
          width: 36px;
          height: 2px;
          position: absolute;
          top: 36px;
          right: 0;
          bottom: auto;
          left: 0;
          margin: auto;
          background-color: #F6EED4; }
    .m_header .logo {
      width: 33%;
      display: flex;
      justify-content: center; }
      .m_header .logo img {
        width: 100%; }
    .m_header .status {
      width: 33%;
      display: flex;
      justify-content: flex-end; }
      .m_header .status figure {
        width: 50px;
        height: 50px;
        margin: 0 5%;
        text-align: center;
        cursor: pointer; }
        .m_header .status figure img {
          width: 100%; }
    .m_header .menubox {
      width: 100%;
      position: absolute;
      top: -100%; }
  .d_header {
    display: none; } }

@media all and (min-width: 768px) {
  .m_header {
    position: relative; }
    .m_header .navbar {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      background: url("../../image/headerfooter/m_navbar_bg.png") no-repeat 0 0/cover; }
    .m_header .burger {
      width: 33%; }
      .m_header .burger div {
        width: 50px;
        height: 50px;
        position: relative;
        cursor: pointer; }
        .m_header .burger div::before {
          content: "";
          width: 36px;
          height: 2px;
          position: absolute;
          top: 11px;
          right: 0;
          bottom: auto;
          left: 0;
          margin: auto;
          background-color: #F6EED4; }
        .m_header .burger div span {
          width: 36px;
          height: 2px;
          position: absolute;
          top: 24px;
          right: 0;
          bottom: auto;
          left: 0;
          margin: auto;
          background-color: #F6EED4; }
        .m_header .burger div::after {
          content: "";
          width: 36px;
          height: 2px;
          position: absolute;
          top: 36px;
          right: 0;
          bottom: auto;
          left: 0;
          margin: auto;
          background-color: #F6EED4; }
    .m_header .logo {
      width: 33%;
      display: flex;
      justify-content: center; }
      .m_header .logo img {
        width: 100%; }
    .m_header .status {
      width: 33%;
      display: flex;
      justify-content: flex-end; }
      .m_header .status figure {
        width: 50px;
        height: 50px;
        margin: 0 5%;
        text-align: center;
        cursor: pointer; }
        .m_header .status figure img {
          width: 100%; }
    .m_header .menubox {
      width: 100%;
      position: absolute;
      top: -100%; }
  .d_header {
    display: none; } }

@media all and (min-width: 992px) {
  .m_header {
    display: none; }
  .d_header {
    display: block; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans TC', sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.btn_orange {
  background-color: #f09122;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  display: inline-block;
  transition: all 0.5s;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0 8px #ccc;
  vertical-align: middle; }
  .btn_orange span {
    display: inline-block;
    position: relative;
    transition: 0.5s; }
    .btn_orange span::after {
      content: ' ﹥';
      position: absolute;
      display: inline-block;
      right: -20px;
      color: #fff;
      transition: 0.5s;
      opacity: 0; }
  .btn_orange:hover {
    background-color: #ce592c; }
    .btn_orange:hover span::after {
      opacity: 1;
      right: -30px; }
  .btn_orange:active {
    background-color: #ce592c;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    transition: all 0.05s cubic-bezier(0.17, 0.67, 0, 1.89); }
  @media all and (max-width: 768px) {
    .btn_orange {
      width: 120px; }
      .btn_orange .btn_orange {
        box-shadow: 0 5px #ccc; }
      .btn_orange span::after {
        display: none; } }
  @media all and (min-width: 768px) {
    .btn_orange {
      width: 150px; } }
  @media all and (min-width: 992px) {
    .btn_orange {
      width: 150px; } }

.btn_orange_l {
  background-color: #f09122;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  display: inline-block;
  transition: all 0.5s;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0 8px #ccc;
  vertical-align: middle; }
  .btn_orange_l span {
    display: inline-block;
    position: relative;
    transition: 0.5s; }
    .btn_orange_l span::after {
      content: ' ﹥';
      position: absolute;
      display: inline-block;
      right: -20px;
      color: #fff;
      transition: 0.5s;
      opacity: 0; }
  .btn_orange_l:hover {
    background-color: #ce592c; }
    .btn_orange_l:hover span::after {
      opacity: 1;
      right: -30px; }
  .btn_orange_l:active {
    background-color: #ce592c;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    transition: all 0.05s cubic-bezier(0.17, 0.67, 0, 1.89); }
  @media all and (max-width: 768px) {
    .btn_orange_l {
      width: 120px; }
      .btn_orange_l .btn_orange {
        box-shadow: 0 5px #ccc;
        font-size: 16px; }
      .btn_orange_l span::after {
        display: none; } }
  @media all and (min-width: 768px) {
    .btn_orange_l {
      width: 200px;
      font-size: 16px; } }
  @media all and (min-width: 992px) {
    .btn_orange_l {
      width: 220px;
      font-size: 20px; } }

.btn_cyan {
  background-color: #1c99ae;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  display: inline-block;
  transition: all 0.5s;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0 8px #ccc;
  vertical-align: middle; }
  .btn_cyan span {
    display: inline-block;
    position: relative;
    transition: 0.5s; }
    .btn_cyan span::after {
      content: ' ﹥';
      position: absolute;
      display: inline-block;
      right: -20px;
      color: #fff;
      transition: 0.5s;
      opacity: 0; }
  .btn_cyan:hover {
    background-color: #187f8f; }
    .btn_cyan:hover span::after {
      opacity: 1;
      right: -30px; }
  .btn_cyan:active {
    background-color: #187f8f;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    transition: all 0.05s cubic-bezier(0.17, 0.67, 0, 1.89); }
  @media all and (max-width: 768px) {
    .btn_cyan {
      width: 120px; }
      .btn_cyan .btn_orange {
        box-shadow: 0 5px #ccc; }
      .btn_cyan span::after {
        display: none; } }
  @media all and (min-width: 768px) {
    .btn_cyan {
      width: 150px; } }
  @media all and (min-width: 992px) {
    .btn_cyan {
      width: 150px; } }

.btn_cyan_l {
  background-color: #1c99ae;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  display: inline-block;
  transition: all 0.5s;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0 8px #ccc;
  vertical-align: middle; }
  .btn_cyan_l span {
    display: inline-block;
    position: relative;
    transition: 0.5s; }
    .btn_cyan_l span::after {
      content: ' ﹥';
      position: absolute;
      display: inline-block;
      right: -20px;
      color: #fff;
      transition: 0.5s;
      opacity: 0; }
  .btn_cyan_l:hover {
    background-color: #187f8f; }
    .btn_cyan_l:hover span::after {
      opacity: 1;
      right: -30px; }
  .btn_cyan_l:active {
    background-color: #187f8f;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    transition: all 0.05s cubic-bezier(0.17, 0.67, 0, 1.89); }
  @media all and (max-width: 768px) {
    .btn_cyan_l {
      width: 120px; }
      .btn_cyan_l .btn_orange {
        box-shadow: 0 5px #ccc;
        font-size: 16px; }
      .btn_cyan_l span::after {
        display: none; } }
  @media all and (min-width: 768px) {
    .btn_cyan_l {
      width: 200px;
      font-size: 16px; } }
  @media all and (min-width: 992px) {
    .btn_cyan_l {
      width: 220px;
      font-size: 20px; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans TC', sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.wrap {
  width: 100%;
  max-width: 1200px; }

@media all and (max-width: 768px) {
  .col_1 {
    width: 8.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_2 {
    width: 16.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_3 {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_4 {
    width: 33.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_5 {
    width: 41.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_6 {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_7 {
    width: 58.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_8 {
    width: 66.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_9 {
    width: 75%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_10 {
    width: 83.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_11 {
    width: 91.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_12 {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box; } }

@media all and (min-width: 768px) {
  .col_md_1 {
    width: 8.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_2 {
    width: 16.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_3 {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_4 {
    width: 33.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_5 {
    width: 41.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_6 {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_7 {
    width: 58.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_8 {
    width: 66.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_9 {
    width: 75%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_10 {
    width: 83.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_11 {
    width: 91.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_12 {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box; } }

@media all and (min-width: 992px) {
  .col_lg_1 {
    width: 8.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_2 {
    width: 16.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_3 {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_4 {
    width: 33.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_5 {
    width: 41.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_6 {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_7 {
    width: 58.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_8 {
    width: 66.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_9 {
    width: 75%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_10 {
    width: 83.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_11 {
    width: 91.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_12 {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box; } }

.font_wrap .font1 p {
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal; }
  @media all and (max-width: 768px) {
    .font_wrap .font1 p {
      font-size: 32px; } }
  @media all and (min-width: 768px) {
    .font_wrap .font1 p {
      font-size: 40px; } }
  @media all and (min-width: 992px) {
    .font_wrap .font1 p {
      font-size: 48px; } }

.font_wrap .font2 p {
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal; }
  @media all and (max-width: 768px) {
    .font_wrap .font2 p {
      font-size: 26px; } }
  @media all and (min-width: 768px) {
    .font_wrap .font2 p {
      font-size: 32px; } }
  @media all and (min-width: 992px) {
    .font_wrap .font2 p {
      font-size: 36px; } }

.font_wrap .font3 p {
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal; }
  @media all and (max-width: 768px) {
    .font_wrap .font3 p {
      font-size: 24px; } }
  @media all and (min-width: 768px) {
    .font_wrap .font3 p {
      font-size: 24px; } }
  @media all and (min-width: 992px) {
    .font_wrap .font3 p {
      font-size: 28px; } }

.font_wrap .font4 p {
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal; }
  @media all and (max-width: 768px) {
    .font_wrap .font4 p {
      font-size: 18px; } }
  @media all and (min-width: 768px) {
    .font_wrap .font4 p {
      font-size: 18px; } }
  @media all and (min-width: 992px) {
    .font_wrap .font4 p {
      font-size: 20px; } }

.font_wrap .font5 p {
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal; }
  @media all and (max-width: 768px) {
    .font_wrap .font5 p {
      font-size: 16px; } }
  @media all and (min-width: 768px) {
    .font_wrap .font5 p {
      font-size: 16px; } }
  @media all and (min-width: 992px) {
    .font_wrap .font5 p {
      font-size: 16px; } }
