@import"../base/var";

//RWD 
@mixin rwd($breakpoint) {
    @if $breakpoint==mobile {
        @media all and (max-width: $mobile) {
            @content;
        }
    }

    @else if $breakpoint==tablet {
        @media all and (min-width: $tablet) {
            @content;
        }
    }

    @else if $breakpoint==desktop {
        @media all and (min-width: $desktop) {
            @content;
        }
    }
}

// -------------postion-------------//
@mixin pos($t,$r,$b,$l){
    position: absolute;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
    margin: auto;
}

@mixin noselect {
    user-select: none;
    -moz-user-select: none;  /* for Firefox */ 
    -webkit-user-select: none;   /* for Chrome */
}