@import "../../common/sass/common.scss";

@mixin noselect {
    user-select: none;
    -moz-user-select: none;  /* for Firefox */ 
    -webkit-user-select: none;   /* for Chrome */
}

*{
    font-family:'Noto Sans TC', sans-serif;
    // outline: 1px solid #f00;
}
html{
    overflow: auto;
}
body{
    overflow: hidden;
    background: #AD9380;
}
.introduce_container{
    padding-top: 150px;
    height: 960px; //刪
    background: url("../image/role/fitst_bg.png") no-repeat 0 -10%;
    position: relative;

    .back{
        opacity: .7;
        @include pos(50%,auto,auto,50%);
        animation: circle 540s infinite linear;
    }
    @keyframes circle {
        0%{
            transform: translate(-50%,-50%) rotate(0deg) scale(5);
        }
        100%{
            transform: translate(-50%,-50%) rotate(360deg) scale(5);
        }
    }
    
    .front{
        position: relative;
        z-index: 1;
        height: 800px;
        background: url("../image/role/slippery.png") no-repeat 90% 100%,
                    url("../image/role/pool.png") no-repeat 50% -40%,
                    url("../image/role/downgrass.png") no-repeat 7% 72%,
                    url("../image/role/right_bg.png") no-repeat 50% -35%,
                    url("../image/role/upgrass.png") no-repeat 5% 33%,
                    url("../image/role/left_bg.png") no-repeat 0% -205%;
        .wrap{
            z-index: 1;
            position: relative;
        }
    }
    @media all and (max-width:767px){
        .front{
            background: url("../image/role/slippery.png") no-repeat 60% 100%,
                    url("../image/role/pool.png") no-repeat 50% -40%,
                    url("../image/role/downgrass.png") no-repeat 7% 72%,
                    url("../image/role/right_bg.png") no-repeat 50% -35%,
                    url("../image/role/upgrass.png") no-repeat 5% 33%,
                    url("../image/role/left_bg.png") no-repeat 0% -205%;
        }
    }
    .choco_playing{
        width: 1920px;
        position: absolute;
        height: 100%;
        z-index: 1;
        figure{

            animation: dance 4s infinite;
        }
    }

    @keyframes dance {
        0%{
            transform: translateX(0%)
                        translateY(0%);
        }
        25%{
            transform: translateX(-5%)
                        translateY(-2%)
                        rotate(-5deg);
        }
        50%{
            transform: translateX(0%)
                        translateY(0%);
        }
        75%{
            transform: translateX(5%)
                        translateY(-2%)
                        rotate(5deg);
        }
        100%{
            transform: translateX(0%)
                        translateY(0%);
        }
    }
    .bread{
        width: 100%;
        max-width: 414px;
        position: relative;
        p{
            @include pos(50%,auto,auto,50%);
            transform: translate(-50%,-50%);
            white-space: nowrap;
            color: $color_milk;
            @include font_m();
            span{
                color: $color_milk;
                @include font_m();
            }
        }
    }
    .contain{
       display: flex;
       align-items: center; 
       padding-top: 50px;
    }
    @media all and (max-width:991px){
        .contain{
            display: block;
        }
    }
    @media all and (max-width:767px){
        .contain{
            padding: 0;
        }
    }
    .player{
        width: 100%;
        max-width: 350px;
        position: relative;
        flex: 0 0 auto;
        margin: 0 auto;
    }
    @media all and (max-width:767px){
        .player{
            transform: scale(0.7);
        }
    }
    .choconame{
        width: 30%;
        @include font_m();
    }
    .votenum{
        width: 100%;
        @include font_s();
    }
    .CHOCO{
        img{
            transform: translateX(-10%);
        }
        figcaption{
            position: relative;
            top: -20px;
            text-align: center;
            p{
                @include font_s();
                color: $color_milk;
            }
            span{
                color: $color_milk;
            }
        }
    }
    .ring{
        display: block;
        @include pos(auto,0,0,0);
        // width: 240px;
        width: 80%;
        z-index: -1;
    }

    @media all and (max-width:1300px){
        .detail{
            width: 70%;
        }
    }
    @media all and (max-width:991px){
        .detail{
            width: 100%;
            margin: auto;
            padding-top: 50px;
        }
    }
    @media all and (max-width:767px){
        .detail{
            padding: 0;
        }
    }
    .information{
        display: flex;
        position: relative;
        z-index: 0;
    }
    @media all and (max-width:767px){
        .information{
            display: flex;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .choco_information{
        width: 265px;
        max-height: 360px;
        background: #fff;
        border: 3px solid $color_deepblue;
        border-radius: 15px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        text-align: left;
        box-shadow: 11px 11px 0 $color_blue;
        // flex: 0 0 auto;
        cursor: pointer;
        ul{
            width: 100%;
        }
        li{
            word-break: break-all;
            padding: 5px 0;
            &:nth-child(1){
                p{
                    @include font_l();
                }
            }
            &:nth-child(2){
                padding-bottom: 20px;
                p{
                    @include font_l();
                }
                @media all and (max-width:1300px){
                    p{
                        font-size: 24px;
                    }
                }
                @media all and (max-width:1055px){
                    p{
                        font-size: 22px;
                    }
                }
                @media all and (max-width:767px){
                    p{
                        font-size: px;
                    }
                }
            }
            &:nth-child(3){
                text-align: center;
                width: 100%;
                height: 3px;
                padding: 0;
                background: #777;
            }
            &:nth-child(4){
                padding-top: 20px;
                p{
                    @include font_s();
                }
            }
            &:nth-child(5){
                p{
                    @include font_s();
                }
            }
        }
    }
    .cardfront{
        width: 290px;
        cursor: pointer;
    }
    .cardback{
        width: 290px;
        cursor: pointer;
    }
    @media all and (max-width:767px){
        .choco_information{
            flex: 0 0 auto;
            width: 203px;
            margin: 0 20px;
        }
        .cardfront{
            flex: 0 0 auto;
            width: 203px;
            margin: 0 20px;
        }
        .cardback{
            flex: 0 0 auto;
            width: 203px;
            margin: 0 20px;
        }
    }
    // .show_big_pic{
    //     width: 290px;
    //     max-height: 360px;
    //     position: fixed;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     margin: auto;
    //     z-index: 1;
    //     .choco_information{
    //         height: 100%;
    //     }
    //     .cardfront{
    //         display: none;
    //     }
    //     .cardback{
    //         display: none;
    //     }
    // }
    @media all and (min-width:768px){
        .rotate_l{
            transform: rotate(-10deg) translate(20% , 0%);
            transition: .5s;
            z-index: 3;
        }
        .rotate_m{
            transform: rotate(0deg) translate(0% , -10%);
            transition: .5s;
            z-index: 2;
        }
        .rotate_r{
            transform: rotate(15deg) translate(-20% , 5%);
            transition: .5s;
            z-index: 1;
        }
    }
    .collect_vote{
        text-align: center;
        span::after{
            bottom: 0;
        }
    }
    @media all and (max-width:767px){
        .collect_vote{
            padding-top: 30px;
        }
    }
    .heart_unclick {
        color: $color_milk;
      }
    .heart_clicked {
        display: none;
        color: $color_milk;
        
    }
    
    .firstlc{
        width: 217px;
        @include pos(19%,auto,auto,5%);
        animation: cloudmove 20s infinite alternate linear;
    }
    .secondlc{
        width: 151px;
        @include pos(22%,auto,auto,56%);
        animation: cloudmove 20s infinite alternate linear;
    }
    .thirdlc{
        width: 217px;
        @include pos(39%,auto,auto,74%);
        animation: cloudmove 20s infinite alternate linear;
    }
    .fourthlc{
        width: 158px;
        @include pos(17%,auto,auto,82%);
        animation: cloudmove 20s infinite alternate linear;
    }
    .shinel{
        width: 92px;
        @include pos(13%,auto,auto,30%);
        animation: opacity 3s infinite alternate;
    }
    .shiner{
        width: 46px;
        @include pos(33%,auto,auto,88%);
        animation: opacity 3s infinite alternate;
    }
    .circle1,.circle2,.circle3{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #ffffff;
        @include pos(17%,auto,auto,5%);
    }
    .circle2{
        width: 47px;
        height: 47px;
        @include pos(23%,auto,auto,72%);
    }
    .circle3{
        width: 35px;
        height: 35px;
        @include pos(14%,auto,auto,80%);
    }
    @keyframes cloudmove {
        0%{
            transform: translateX(-30%)
        }
        100%{
            transform: translateX(30%)
        }
    }
    @keyframes opacity {
        0%{
            opacity: 1;
        }
        20%{
            opacity: 1;
        }
        100%{
            opacity: 0.7;
        }
    }
    .peanut_bg{
        width: 65px;
        @include pos(auto,2%,23%,auto);
        animation: chocowalk 5s infinite linear;
    }
    .donut_bg{
        width: 65px;
        @include pos(auto,8%,19%,auto);
        animation: chocowalk 5s -2s infinite linear;
    }
    .cake_bg{
        width: 99px;
        @include pos(auto,11%,10%,auto);
        animation: chocowalk 5s -4s infinite linear;
    }
    .cookies_bg{
        width: 88px;
        @include pos(auto,4%,0%,auto);
        animation: chocowalk 5s -6s infinite linear;
    }
    .bear_bg{
        width: 109px;
        @include pos(auto,8%,-15%,auto);
        animation: chocowalk 5s -8s infinite linear;
    }
    
    // @keyframes chocowalk {
    //     0%{
    //         transform: translate(0%,0%)
    //     }
    //     40%{
    //         transform: translate(-10%,5%)
    //     }
    //     60%{
    //         transform: translate(-2%,3%)
    //     }
    //     80%{
    //         transform: translate(5%,-2%)
    //     }
    //     100%{
    //         transform: translate(0%,%)
    //     }

    // }
}
.message_board_container{
    height: 1750px;
    position: relative;
    margin-top: -50px;
    background: url("../image/role/pool.png") no-repeat 50% 22.4%,
                url("../image/role/swan.png") no-repeat 8% 30%,
                url("../image/role/leftball.png") no-repeat 3% 40%,
                url("../image/role/rightball.png") no-repeat 97% 30%,
                #FFF5E3 ;
    .phone_message_title{
        display: none;
        text-align: center;
        padding: 30px 0;
        p{
            font-size: 36px;
            color: $color_milk;
        }
    }
    @media all and (max-width:767px){
        .phone_message_title{
            display: block;
        }
    }
    .message_board_wrap{
        height: 1350px;
        max-width: 1000px;
        overflow: hidden;
    }
    .message_block{
        width: 100%;
        padding: 20px 0;
        &::after{
            content: "";
            display: block;
            clear: both;
        }
        &:nth-child(odd) .message_item{
            float: left;
        }
        &:nth-child(even) .message_item{
            float: right;
        }
    }
    .message_item{
        width: 550px;
        height: 230px;
        background: url("../image/role/message_bg.png") 0 0;
        display: flex;
        align-items: center;
    }
    .message{
        width: 100%;
        display: flex;
        padding: 0 4%;
    }
   
    .cus_photo{
        width: 125px;
        height: 125px;
        flex: 0 0 auto;
        border-radius: 15px;
        border: 2px solid $color_brown;
        display: flex;
        align-items: center;
        img{
            border-radius: 15px;
        }
    }
    @media all and (max-width:767px){
        .message_board_wrap{
            height: 510px;
        }
        .message_block{
            padding: 0;
        }
        .message_item{
            width: 100%;
            height: 170px;
            background: url("../image/role/message_bg.png") 50% 50% no-repeat / contain;
        }
        .message{
            transform: scale(0.9);
            padding: 0;
        }
        .cus_photo{
            width: 80px;
            height: 80px;
        }
    }
    .message_contain{
        width: 60%;
        margin-left: 5%;
        .memName{
            @include font_m();
        }
        .mseeage_text{
            @include font_s();
            padding-top: 5%;
            word-break: break-all;
        }
    }
    .status{
        width: 20%;
        text-align: center;
        p{
            padding-top: 20%;
        }
    }
    .message_date{
        @include font_s();
        color: $color_gray;
    }
    .page_wrap{
        text-align: center;
        padding-top: 50px;
    }
    .pagination{
        background: #fff;
        border-radius: 5px;
    }
    .input_message_wrap{
        padding-top: 100px;
        background: #AD9380;
    }
    .input_message{
        width: 80%;
        height: 100px;
        background: #fff;
        border: 2px solid $color_deepblue;
        position: relative;
        border-radius: 9px;
        margin: auto;
    }
    @media all and (max-width:767px){
        .input_message_wrap{
            padding-top: 50px;
        }
        .input_message{
            width: 100%;
            height: 65px;
        }
    }
    #input_text{
        width: 80%;
        height: 100%;
        border: none;
        list-style: none;
        @include pos(0,auto,auto,auto);
        border-radius: 9px;
        @include font_l();
        padding: 0 10px;
        &:focus{
            outline: none;
        }
    }
    #submit_btn{
        width: 20%;
        height: 100%;
        @include font_l();
        @include pos(0,0,auto,auto);
        background: #fff;
        border: none;
        cursor: pointer;
        border-radius: 9px;
        &:focus{
            outline: none;
        }
        &:before{
            content: "";
            width: 2px;
            opacity: .5;
            height: 80%;
            display: block;
            @include pos(0,auto,0,0);
            background: $color_blue;
        }
    }   
    .report{
        width: 370px;
        height: 270px;
        background: #FF4D50;
        border-radius: 15px;
        box-shadow: 11px 11px 0 #FFA6AB;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 1;
        text-align: center;
        padding: 0 20px;
        display: flex;
        align-items: center;
        display: none;
        .contain{
            width: 90%;
            margin: auto;
        }
        p{
            @include font_m();
            color: $color_milk;
            text-align: left;
            padding: 10px 0;
        }
        textarea{
            padding: 10px;
            @include font_m();
            border-radius: 15px;
            width: 100%;
        }
        .btn{
            margin-top: 20px;
        }
    }
    .close_btn{
        width: 30px;
        @include pos(0%,0%,auto,auto);
    }
    .report_bear{
        width: 134px;
        @include pos(auto,-20%,-3%,auto);
    }
}
@media all and (max-width:991px){
    .message_board_container{
        padding-top: 40%;
    }
}
@media all and (max-width:767px){
    .message_board_container{
        height: auto;
        padding-top: 30%;
    }
}
footer{
    z-index: 1;
    background: #AD9380;
}
@media all and (max-width:991px){
    footer{
        margin-top: 30%;
    }
}