
@import"../../common/sass/common.scss";

*{
    // outline: 1px solid red;
}
$color_milk: #F6EED4;
$color_gray: #9B9B9B;
$color_ship: #84512F;
$color_brown: #592F13;
$color_red: #ED1C24;
$color_blue:#1A99AD;
$color_deepblue:#157E8F;
$color_orange:#EF9021;
$color_deeporange: #c3771b;

body{
    background-color: #FFF5E3; 
    background: url(../image/cart/bg.png) no-repeat  100% 100%/ cover; 
    overflow-x: hidden;

}

.w-100{
    width: 100px;
}





.cloud{
    position: absolute;
    z-index: -1;
    top:30%;
    animation: cloud 40s linear  infinite;


}

@keyframes cloud {
    0% {transform: translateX(-10%)}
    100% {transform: translateX(10%)}
}    




.box{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap; 
    margin: auto;
    justify-content: center;
}

#cartflow_container{
padding-top: 120px;

.wrap{
    width: 70%;
}
}

.cart_title_box{
    background-color: $color_blue;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    border: $color_milk 2px solid;
    h5{
        color: $color_milk;
        @include font_m();
    }
}


.cart_show_box{
    background-color: #fff;
    border: $color_blue solid 2px; 
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    @include font_m();
    align-items: center;

}


#cart_title_container{  
    .col_lg_2,.col_lg_3{
        border-right: $color_milk solid 2px;     
    }
}

#cart_show_container{
    padding-top: 0px;

    .cart_show_box{
            background-color: #fff;

            border: $color_blue solid 2px; 
            padding: 15px;
            border-radius: 10px;
            text-align: center;
            @include font_m();
            align-items: center;
            
            .cart_pname,.cart_price,.cart_qty,.cart_amout{
                border-right: $color_brown solid 2px;     
            }
            .cart_pname{
                border-left: $color_brown solid 2px;     
            }   
        .cart_img img{
        width: 50%;
        }
    }
   
    .qty_buttons {
        display: flex;
        width: 80%;
        border: 1px solid $color_brown;
        margin: auto;

        border-radius: 5px;
        .qty {
          display: inline-block;
          width: 40%;
          height: 100%;
          color: $color_brown;
          text-align: center;
          border: none;
          @include font_m();

          // pointer-events: none;
        }

        .minus,
        .plus {
          display: inline-block;
          width: 40%;
          height: 100%;
          cursor: pointer;
          @include font_s;
          line-height: 20px;
          @include font_m();

        }
        .minus {
          border: none;
          border-right: 1px solid $color_brown;
          background-color: $color_brown;
          color: $color_milk;
        }
        .plus {
          border: none;
          border-left: 1px solid $color_brown;
          background-color: $color_brown;
          color: $color_milk;
        }
      }
}


.cart_form{
    background-color: #fff;
    padding: 20px;
    border: $color_blue solid 2px;
    border-radius: 10px;  
    .cart_total {
        text-align: right;
        padding: 10px;
        @include font_m();

        & :last-child{
            padding-top: 30px;
           
        }
    }
    .amout{
        @include font_l();
        color: $color_red;
    }
}

.cart_btn_group {
    padding-top: 50px;
    text-align: center;
}


// -----------------cart——shipping---------------------//
#cart_shipping_container{

    .shipping_box{
       display: flex;
       justify-content: space-between;
    }

}


#cart_bonus_container{
    padding-top: 0px;
    .bonus_box{
        display: flex;
        justify-content: space-between;
       
        .bonus_decs{
            text-align: left;
            a{
                @include font_s();
                text-decoration: underline;

            }
        }
        .bonus_input{
            text-align: right;
            input{
                width: 20%;
                @include font_m();
                border:2px solid $color_blue;
                border-radius: 5px; 
                text-align: right;  
            }
        }
       
    }
}


#cart_total_container{
    padding-top: 0px;
}

// -----------------cart——pay---------------------//

#cart_payment_container{
    input{
        width: 50%;
        @include font_m();
        margin: 5px 20px;
        border:2px solid $color_blue;
        border-radius: 5px;   
    }
}


#creditcard_contatiner{
    .creditcard_box{
        text-align: left;
    }
    input{
        width:8%;
        @include font_m();
        margin: 5px;
        border:2px solid $color_blue;
        border-radius: 5px;   
    }
    
}



// -------------------------------RWD DESKTOP------------------------------//



// -------------------------------RWD TABLET------------------------------//

@media (min-width: 768px) and (max-width: 991px){
} 
// ------------------------------RWD MOBILE------------------------------//

@include rwd(mobile){



}
  