
@import"../../common/sass/common.scss";


$color_milk: #F6EED4;
$color_gray: #9B9B9B;
$color_ship: #84512F;
$color_brown: #592F13;
$color_red: #ED1C24;
$color_blue:#1A99AD;
$color_deepblue:#157E8F;
$color_orange:#EF9021;
$color_deeporange: #c3771b;


section{
    padding-top: 0px;
}


.wrap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 0px; }
  

*{
    outline: none;
}

body{
    background-color: #FFF5E3; 
    background: url(../image/cart/bg.png) no-repeat  100% 100%/ cover; 
    overflow-x: hidden;
    // min-height: 100vh;
    position: relative;
}



// -------------global class----------//

@include rwd(desktop){
    .d_d_n{
        display: none;
    }
}

@include rwd(mobile){
    .m_d_n{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .t_d_n{
        display: none;
    }
} 



.cloud{
    position: absolute;
    z-index: -1;
    top:30%;
    animation: cloud 40s linear  infinite;
}

@keyframes cloud {
    0% {transform: translateX(-10%)}
    100% {transform: translateX(10%)}
}    


.box{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap; 
    margin: auto;
    justify-content: center;
    border: $color_milk 2px solid;
    border-radius: 10px;
}

.wrap{
        padding: 0px;
    }



.cart_title_box{
    background-color: $color_blue;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    border: $color_milk 2px solid;
    h5{
        color: $color_milk;
        @include font_m();
    }
}

.qty_buttons {
    display: flex;
    width: 80%;
    border: 1px solid $color_brown;
    margin: auto;
    border-radius: 5px;
    .qty {
      display: inline-block;
      width: 40%;
      height: 100%;
      color: $color_brown;
      text-align: center;
      border: none;
      @include font_m();

      // pointer-events: none;
    }

    .minus,
    .plus {
      display: inline-block;
      width: 40%;
      height: 100%;
      cursor: pointer;
      @include font_s;
      line-height: 20px;
      @include font_m();

    }
    .minus {
      border: none;
      border-right: 1px solid $color_brown;
      background-color: $color_brown;
      color: $color_milk;
    }
    .plus {
      border: none;
      border-left: 1px solid $color_brown;
      background-color: $color_brown;
      color: $color_milk;
    }
  }

//-------- #cartflow_container ---------//

#cartflow_container{
padding-top: 150px;
}

// --------cart_title_container--------//
#cart_title_container{
    
    .cart_title_box{
        background-color: $color_blue;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        border: $color_milk 2px solid;
        .col_lg_2,.col_lg_3{
            border-right: $color_milk solid 2px;     
        }
        h5{
            color: $color_milk;
            @include font_m();
        }
    }
}



// --------cart_show_container--------//

#cart_show_container{
    padding-top: 0px;
    min-height:120px;

    .wrap{
        padding: 0;
    }
    
    
  
    .cart_show_box{
            width: 100%;
            background-color: #fff;
            border: none; 
            border-radius: 0px;
            text-align: center;
            font-size: 18px;
            align-items: center;
            padding: 15px;
            
            .cart_pname,.cart_price,.cart_qty,.cart_amount{
                border-right: $color_brown solid 2px;     
            }
            .cart_pname{
                border-left: $color_brown solid 2px;     
            }   
        .cart_img img{
        width: 50%;
        }
    }
}

// --------cart_form--------//

#card{
    padding-top: 0px;
}


#cart_form_container{
    width: 100%;
}
.cart_form{
    width:100%;
    background-color: #fff;
    padding: 5px;
    border-top: 2px solid $color_blue;
  
    .cart_total {
        text-align: right;
        padding: 10px;
        @include font_m();

        & :last-child{
            padding-top: 30px;
           
        }
    }
    .cart_total_area{
        text-align: center;
    }

    .amount{
        @include font_l();
        color: $color_red;
    }
}


// --------cart_btn_group --------//


.cart_btn_group {
    padding-top: 50px;
    padding-bottom: 200px;
    text-align: center;
}

.cart_delete{
    .btn{
        background-color: $color_blue;
        font-size: 16px;
        }
}


footer{
    position: relative;
}

// -------------------------------RWD TABLET------------------------------//


@media (min-width: 768px) and (max-width: 991px){
#cart_show_container{
    .wrap{
        padding:0px;
    }

    .cart_show_box{

        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .col_md_12, .col_md_2{
        padding: 0;
    }
}
} 
// ------------------------------RWD MOBILE------------------------------//

@include rwd (mobile){
    body{
        height: 100vh; 
    
    }
    
    
    footer{
        display: none;
    }

    h5{
        font-size: 18px;
  
    }


 
#cart_show_container{
    .wrap{
        padding: 0px;
    }
    .cart_show_box{
        font-size: 16px;
        justify-content: flex-end;
        border: $color_blue 2px solid;
        border-radius:10px;
      

        .col_6,.col_2{
            padding: 10px 0px;
        } 
        
        .cart_pname,.cart_price,.cart_qty,.cart_amount{
            border-right: none;     
        }
        .cart_pname{
            border-left: none;     
        }  
    }
}


.cart_btn_group{
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 0;
    z-index: 4;
    .btn{
        padding:15px 0px;
        width: 50%;
        margin:0px;
        border-radius: 0px;
        border: $color_deeporange 2px solid;
        font-size: 20px;
        width: 187.5px;
       


    }
}

.cart_delete{
    .btn{
        background-color: $color_blue;
        font-size: 12px;
        padding: 7px;
        border-radius: 6px;

        }
}





.qty_buttons {
    display: flex;
    width: 100%;
    border: none;
    margin-left: 15px;
    text-align: center;

    .qty {
      display: inline-block;
      width: 25%;
      height: 30px;
      color: $color_brown;
      text-align: center;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      border: rgb(187, 141, 110) 1px solid

      // pointer-events: none;
    }

    .minus,
    .plus {
      display: inline-block;
      width: 25%;
      height: 30px;
      cursor: pointer;
      line-height: 20px;
      font-size: 16px;
   

    }
    .minus {
      border: none;
      border-right: 1px solid $color_brown;
      background-color: $color_brown;
      color: $color_milk;
   
    }
    .plus {
      border: none;
      border-left: 1px solid $color_brown;
      background-color: $color_brown;
      color: $color_milk;
    }
  }
} 

