
@import"../../common/sass/common.scss";

*{
    // outline: 1px solid red;
}
$color_milk: #F6EED4;
$color_gray: #9B9B9B;
$color_ship: #84512F;
$color_brown: #592F13;
$color_red: #ED1C24;
$color_blue:#1A99AD;
$color_deepblue:#157E8F;
$color_orange:#EF9021;
$color_deeporange: #c3771b;


section{
    padding-top: 0px;
}

body{
    background-color: #FFF5E3; 
    background: url(../image/cart/bg.png) no-repeat  100% 100%/ cover; 
    overflow-x: hidden;

}



// -------------global class----------//
.w-100{
    width: 100px;
}

.cloud{
    position: absolute;
    z-index: -1;
    top:30%;
    animation: cloud 40s linear  infinite;
}

@keyframes cloud {
    0% {transform: translateX(-10%)}
    100% {transform: translateX(10%)}
}    


.box{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap; 
    margin: auto;
    justify-content: center;
    border: $color_milk 2px solid;
}

@include rwd(desktop){
    .lg_d_n{
        display: none;
    }
}

@include rwd(mobile){
    .m_d_n{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .t_d_n{
        display: none;
    }
} 

.cart_title_box{
    background-color: $color_blue;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    border: $color_milk 2px solid;
    h5{
        color: $color_milk;
        @include font_m();
    }
}

.qty_buttons {
    display: flex;
    width: 80%;
    border: 1px solid $color_brown;
    margin: auto;

    border-radius: 5px;
    .qty {
      display: inline-block;
      width: 40%;
      height: 100%;
      color: $color_brown;
      text-align: center;
      border: none;
      @include font_m();

      // pointer-events: none;
    }

    .minus,
    .plus {
      display: inline-block;
      width: 40%;
      height: 100%;
      cursor: pointer;
      @include font_s;
      line-height: 20px;
      @include font_m();

    }
    .minus {
      border: none;
      border-right: 1px solid $color_brown;
      background-color: $color_brown;
      color: $color_milk;
    }
    .plus {
      border: none;
      border-left: 1px solid $color_brown;
      background-color: $color_brown;
      color: $color_milk;
    }
  }

//-------- #cartflow_container ---------//

#cartflow_container{
padding-top: 150px;
}

// --------cart_title_container--------//
#cart_title_container{
    .cart_title_box{
        background-color: $color_blue;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        border: $color_milk 2px solid;
        .col_lg_2,.col_lg_3{
            border-right: $color_milk solid 2px;     
        }
        h5{
            color: $color_milk;
            @include font_m();
        }
    }
}

// --------cart_show_container--------//

.cart_show_box{
    background-color: #fff;
    border: $color_blue solid 2px; 
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    @include font_m();
    align-items: center;

}

// --------cart_show_container--------//

#cart_show_container{
    padding-top: 0px;

    .cart_show_box{
            background-color: #fff;
            border: none; 
            padding: 0px;
            border-radius: 0px;
            text-align: center;
            @include font_m();
            align-items: center;
            
            .cart_pname,.cart_price,.cart_qty,.cart_amout{
                border-right: $color_brown solid 2px;     
            }
            .cart_pname{
                border-left: $color_brown solid 2px;     
            }   
        .cart_img img{
        width: 50%;
        }
    }
   
 
      .cart_delete{
        text-decoration: underline;
      }

}

// --------cart_form--------//

#card{
    padding-top: 0px;
}

#cart_form_container{
    width: 100%;
}
.cart_form{
    width:100%;
    background-color: #fff;
    padding: 5px;
    border-top: 2px solid $color_blue;
  
    .cart_total {
        text-align: right;
        padding: 10px;
        @include font_m();

        & :last-child{
            padding-top: 30px;
           
        }
    }
    .amout{
        @include font_l();
        color: $color_red;
    }
}


// --------cart_btn_group --------//


.cart_btn_group {
    padding-top: 50px;
    text-align: center;
}

.cart_delete{
    .btn{
        background-color: $color_blue;
        font-size: 16px;
        }
}


#cart_total_container{
    padding-top: 0px;
}

// -----------------cart——pay---------------------//

#cart_payment_container{
    input{
        width: 50%;
        @include font_m();
        margin: 5px 20px;
        border:2px solid $color_blue;
        border-radius: 5px;   
    }
}


#creditcard_contatiner{
    .creditcard_box{
        text-align: left;
    }
    input{
        width:8%;
        @include font_m();
        margin: 5px;
        border:2px solid $color_blue;
        border-radius: 5px;   
    }
    
}



// -------------------------------RWD TABLET------------------------------//

@media (min-width: 768px) and (max-width: 991px){
  


#cart_show_container{
    .wrap{
        padding: 0;
    }

    .cart_show_box{

        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .col_md_12, .col_md_2{
        padding: 0;
    }
}





} 
// ------------------------------RWD MOBILE------------------------------//




@include rwd(mobile){
//-------- #cartflow_container ---------//
body{
    height: 100vh; 

}
.wrap{
    padding: 0px;
}

#cartflow_container{
    padding-top: 120px;
        .wrap img{
            display: none;
        }
    }   
 
// --------cart_title_container--------//   

#cart_title_container  {
    .cart_title_box{
        display: none;
    }
    
}




#cart_show_container{
    margin-top: 30px;
    padding: 0;

    .cart_title_box{
        width: 90%;
    }
    .cart_show_box{
        padding: 0px;
        
    }


    h5,p{
        @include font_s();
    }
 

    .cart_show_box{ 
        width: 90%;
        border: red 1px solid;

        
            .cart_pname,.cart_price,.cart_qty,.cart_amout{
                border-right: none;   
            }
            .cart_pname{
                border-left: none;   
            }   
        .cart_img img{
        width: 100%;
        }
        .mobile_cart_desc{
            text-align: left;
            padding-bottom: 5px;
            display: flex;
            flex-direction: column;
           
        }
        .cart_qty{
            padding: 5px 0px 10px;
            .qty_buttons{
                margin: 0;
            }
        }
        .cart_delete{
            padding-top: 20px;
            text-align: right;
        }
    }

}

.cart_form{
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

#cart_form_container{
    padding-top: 0px;
    width:100%;
}


.cart_btn_group{
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 0;
  
    .btn{
        width: 187.5px;
        margin: 0;
        border: $color_deeporange 2px solid;
        border-radius: 5px 5px 0px 0px;
    }

    
}


footer{
    display:none;
}

}