@import "../mixins/mixin";
@import "var";




@mixin font_xxl {
        font-family: $font_family;
        line-height: normal;
        @include rwd(mobile){
            font-size:$mfont_xxl;  
        }
        @include rwd(tablet){
            font-size:$tfont_xxl;
        }
        @include rwd(desktop){
            font-size:$dfont_xxl;
        }
}


@mixin font_xl{
    font-family: $font_family;
    line-height: normal;
    @include rwd(mobile){
        font-size:$mfont_xl;  
    }
    @include rwd(tablet){
        font-size:$tfont_xl;
    }
    @include rwd(desktop){
        font-size:$dfont_xl;
    }
}

@mixin font_l{
    font-family: $font_family;
    line-height: normal;
    @include rwd(mobile){
        font-size:$mfont_l;  
    }
    @include rwd(tablet){
        font-size:$tfont_l;
    }
    @include rwd(desktop){
        font-size:$dfont_l;
    }
}


@mixin font_m {
    font-family: $font-family;
    line-height: normal;
    @include rwd(mobile){
        font-size:$mfont_m;  
    }
    @include rwd(tablet){
        font-size:$tfont_m;
    }
    @include rwd(desktop){
        font-size:$dfont_m;
    }
}


@mixin font_s {
    font-family: $font_family;
    line-height: normal;
    @include rwd(mobile){
        font-size:$mfont_s;  
    }
    @include rwd(tablet){
        font-size:$tfont_s;
    }
    @include rwd(desktop){
        font-size:$dfont_s;
    }
    
}
