@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans TC', sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #592F13; }

img {
  width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none; }

.btn {
  color: #F0ECDD;
  text-align: center;
  padding: 10px;
  display: inline-block;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin: 5px;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px #ccc;
  box-shadow: 0 5px #ccc; }
  .btn span {
    color: #F0ECDD;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .btn span::after {
      content: '\00bb';
      position: absolute;
      display: inline-block;
      color: #F0ECDD;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      opacity: 0; }
  .btn:hover span::after {
    opacity: 1; }
  .btn:active {
    -webkit-box-shadow: 0 2px #666;
    box-shadow: 0 2px #666;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition: all 0.05s cubic-bezier(0.17, 0.67, 0, 1.89);
    -o-transition: all 0.05s cubic-bezier(0.17, 0.67, 0, 1.89);
    transition: all 0.05s cubic-bezier(0.17, 0.67, 0, 1.89); }
  @media all and (max-width: 767px) {
    .btn {
      -webkit-box-shadow: 0 2px #ccc;
      box-shadow: 0 2px #ccc;
      border-radius: 10px; }
      .btn span::after {
        display: none; } }

.orange_s {
  font-size: 16px;
  background-color: #f09122; }
  .orange_s span::after {
    display: none; }
  .orange_s:hover {
    background-color: #ce592c; }
    .orange_s:hover span::after {
      right: -12px; }
  .orange_s span::after {
    right: -8px; }
  @media all and (max-width: 767px) {
    .orange_s {
      width: 60px; } }
  @media all and (min-width: 768px) {
    .orange_s {
      width: 90px; } }
  @media all and (min-width: 992px) {
    .orange_s {
      width: 90px; } }

.cyan_s {
  font-size: 16px;
  background-color: #1c99ae; }
  .cyan_s span::after {
    display: none; }
  .cyan_s:hover {
    background-color: #187f8f; }
    .cyan_s:hover span::after {
      right: -12px; }
  .cyan_s span::after {
    right: -8px; }
  @media all and (max-width: 767px) {
    .cyan_s {
      width: 60px; } }
  @media all and (min-width: 768px) {
    .cyan_s {
      width: 90px; } }
  @media all and (min-width: 992px) {
    .cyan_s {
      width: 90px; } }

.orange_m {
  font-size: 16px;
  background-color: #f09122; }
  .orange_m span::after {
    display: none; }
  .orange_m:hover {
    background-color: #ce592c; }
    .orange_m:hover span::after {
      right: -12px; }
  .orange_m span::after {
    right: -8px; }
  @media all and (max-width: 767px) {
    .orange_m {
      width: 100px; } }
  @media all and (min-width: 768px) {
    .orange_m {
      width: 110px; } }
  @media all and (min-width: 992px) {
    .orange_m {
      width: 110px; } }

.cyan_m {
  font-size: 16px;
  background-color: #1c99ae; }
  .cyan_m span::after {
    display: none; }
  .cyan_m:hover {
    background-color: #187f8f; }
    .cyan_m:hover span::after {
      right: -12px; }
  .cyan_m span::after {
    right: -8px; }
  @media all and (max-width: 767px) {
    .cyan_m {
      width: 100px; } }
  @media all and (min-width: 768px) {
    .cyan_m {
      width: 110px; } }
  @media all and (min-width: 992px) {
    .cyan_m {
      width: 110px; } }

.orange_l {
  font-size: 16px;
  background-color: #f09122; }
  .orange_l:hover {
    background-color: #ce592c; }
    .orange_l:hover span::after {
      right: -25px; }
  .orange_l span::after {
    right: -15px; }
  @media all and (max-width: 767px) {
    .orange_l {
      width: 120px; } }
  @media all and (min-width: 768px) {
    .orange_l {
      width: 170px;
      padding: 12px; } }
  @media all and (min-width: 992px) {
    .orange_l {
      width: 200px;
      padding: 15px; } }

.cyan_l {
  font-size: 16px;
  background-color: #1c99ae; }
  .cyan_l:hover {
    background-color: #187f8f; }
    .cyan_l:hover span::after {
      right: -25px; }
  .cyan_l span::after {
    right: -15px; }
  @media all and (max-width: 767px) {
    .cyan_l {
      width: 120px; } }
  @media all and (min-width: 768px) {
    .cyan_l {
      width: 170px;
      padding: 12px; } }
  @media all and (min-width: 992px) {
    .cyan_l {
      width: 200px;
      padding: 15px; } }

.orange_xl {
  font-size: 28px;
  background-color: #f09122; }
  .orange_xl:hover {
    background-color: #ce592c; }
    .orange_xl:hover span::after {
      right: -30px; }
  .orange_xl span::after {
    right: -20px; }
  @media all and (max-width: 767px) {
    .orange_xl {
      width: 200px; } }
  @media all and (min-width: 768px) {
    .orange_xl {
      width: 240px;
      padding: 15px;
      -webkit-box-shadow: 0 8px #ccc;
      box-shadow: 0 8px #ccc; } }
  @media all and (min-width: 992px) {
    .orange_xl {
      width: 270px;
      padding: 15px;
      -webkit-box-shadow: 0 8px #ccc;
      box-shadow: 0 8px #ccc; } }

.cyan_xl {
  font-size: 28px;
  background-color: #1c99ae; }
  .cyan_xl:hover {
    background-color: #187f8f; }
    .cyan_xl:hover span::after {
      right: -30px; }
  .cyan_xl span::after {
    right: -20px; }
  @media all and (max-width: 767px) {
    .cyan_xl {
      width: 200px; } }
  @media all and (min-width: 768px) {
    .cyan_xl {
      width: 240px;
      padding: 15px;
      -webkit-box-shadow: 0 8px #ccc;
      box-shadow: 0 8px #ccc; } }
  @media all and (min-width: 992px) {
    .cyan_xl {
      width: 270px;
      padding: 15px;
      -webkit-box-shadow: 0 8px #ccc;
      box-shadow: 0 8px #ccc; } }

.pagination {
  display: inline-block;
  margin: auto; }
  .pagination a {
    color: #1c99ae;
    float: left;
    padding: 8px 15px;
    text-decoration: none;
    border: 1px solid #1c99ae; }
    .pagination a:hover {
      background-color: #187f8f;
      color: #F0ECDD;
      border: 1px solid #187f8f; }
    .pagination a:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      width: 30px; }
    .pagination a:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .pagination .active {
    background-color: #187f8f;
    color: #F0ECDD;
    border: 1px solid #187f8f; }

.select_dropdown {
  width: 200px;
  font-size: 16px;
  height: 36px;
  color: #F0ECDD;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #F0ECDD url(../image/common/select.png) no-repeat center;
  border-radius: 5px;
  padding-left: 50px; }
  .select_dropdown option {
    color: #187f8f; }
  @media all and (max-width: 767px) {
    .select_dropdown {
      width: 100%；; } }

.title_decoration {
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal;
  position: relative;
  margin: auto; }
  @media all and (max-width: 767px) {
    .title_decoration {
      font-size: 24px; } }
  @media all and (min-width: 768px) {
    .title_decoration {
      font-size: 24px; } }
  @media all and (min-width: 992px) {
    .title_decoration {
      font-size: 28px; } }
  .title_decoration h2 {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center; }
  @media all and (max-width: 767px) {
    .title_decoration {
      width: 100%; } }
  @media all and (min-width: 768px) {
    .title_decoration {
      width: 589px; }
      .title_decoration h2 {
        top: 15%; } }
  @media all and (min-width: 992px) {
    .title_decoration {
      width: 589px; }
      .title_decoration h2 {
        top: 20%; } }

#prev_btn {
  padding: 10px;
  background-color: #1c99ae;
  color: #F0ECDD;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal; }
  @media all and (max-width: 767px) {
    #prev_btn {
      font-size: 18px; } }
  @media all and (min-width: 768px) {
    #prev_btn {
      font-size: 18px; } }
  @media all and (min-width: 992px) {
    #prev_btn {
      font-size: 20px; } }
  #prev_btn:hover {
    background-color: #187f8f; }

#next_btn {
  padding: 10px;
  background-color: #1c99ae;
  color: #F0ECDD;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal; }
  @media all and (max-width: 767px) {
    #next_btn {
      font-size: 18px; } }
  @media all and (min-width: 768px) {
    #next_btn {
      font-size: 18px; } }
  @media all and (min-width: 992px) {
    #next_btn {
      font-size: 20px; } }
  #next_btn:hover {
    background-color: #187f8f; }

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px; }

section {
  padding-top: 50px; }

@media all and (max-width: 767px) {
  .col_1 {
    width: 8.33333%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_2 {
    width: 16.66667%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_3 {
    width: 25%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_4 {
    width: 33.33333%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_5 {
    width: 41.66667%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_6 {
    width: 50%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_7 {
    width: 58.33333%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_8 {
    width: 66.66667%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_9 {
    width: 75%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_10 {
    width: 83.33333%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_11 {
    width: 91.66667%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_12 {
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; } }

@media all and (min-width: 768px) {
  .col_md_1 {
    width: 8.33333%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_md_2 {
    width: 16.66667%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_md_3 {
    width: 25%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_md_4 {
    width: 33.33333%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_md_5 {
    width: 41.66667%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_md_6 {
    width: 50%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_md_7 {
    width: 58.33333%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_md_8 {
    width: 66.66667%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_md_9 {
    width: 75%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_md_10 {
    width: 83.33333%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_md_11 {
    width: 91.66667%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_md_12 {
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; } }

@media all and (min-width: 992px) {
  .col_lg_1 {
    width: 8.33333%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_lg_2 {
    width: 16.66667%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_lg_3 {
    width: 25%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_lg_4 {
    width: 33.33333%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_lg_5 {
    width: 41.66667%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_lg_6 {
    width: 50%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_lg_7 {
    width: 58.33333%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_lg_8 {
    width: 66.66667%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_lg_9 {
    width: 75%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_lg_10 {
    width: 83.33333%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_lg_11 {
    width: 91.66667%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .col_lg_12 {
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; } }

.font_wrap .font1 p {
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal; }
  @media all and (max-width: 767px) {
    .font_wrap .font1 p {
      font-size: 32px; } }
  @media all and (min-width: 768px) {
    .font_wrap .font1 p {
      font-size: 40px; } }
  @media all and (min-width: 992px) {
    .font_wrap .font1 p {
      font-size: 48px; } }

.font_wrap .font2 p {
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal; }
  @media all and (max-width: 767px) {
    .font_wrap .font2 p {
      font-size: 26px; } }
  @media all and (min-width: 768px) {
    .font_wrap .font2 p {
      font-size: 32px; } }
  @media all and (min-width: 992px) {
    .font_wrap .font2 p {
      font-size: 36px; } }

.font_wrap .font3 p {
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal; }
  @media all and (max-width: 767px) {
    .font_wrap .font3 p {
      font-size: 24px; } }
  @media all and (min-width: 768px) {
    .font_wrap .font3 p {
      font-size: 24px; } }
  @media all and (min-width: 992px) {
    .font_wrap .font3 p {
      font-size: 28px; } }

.font_wrap .font4 p {
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal; }
  @media all and (max-width: 767px) {
    .font_wrap .font4 p {
      font-size: 18px; } }
  @media all and (min-width: 768px) {
    .font_wrap .font4 p {
      font-size: 18px; } }
  @media all and (min-width: 992px) {
    .font_wrap .font4 p {
      font-size: 20px; } }

.font_wrap .font5 p {
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal; }
  @media all and (max-width: 767px) {
    .font_wrap .font5 p {
      font-size: 16px; } }
  @media all and (min-width: 768px) {
    .font_wrap .font5 p {
      font-size: 16px; } }
  @media all and (min-width: 992px) {
    .font_wrap .font5 p {
      font-size: 16px; } }
