@import "base/reset";
@import "base/all";
@import "mixins/mixin";
@import "layout/all";
@import "modules/all";

// 此為套用辦法 不是共用版
//共用版為common.sass  and common.html （含header／footer）
//--------- GRID -------------//
// 可直接套用在html 加入class name
@include grid(12);

// @include section_margin();
//--------- RWD -------------//
// 可在sass撰寫3種rwd模組
@include rwd(desktop) {
}
@include rwd(tablet) {
}

@include rwd(mobile) {
}

// --------- FONT -------------//

.font_wrap {
  .font1 {
    p {
      @include font_xxl();
    }
  }
  .font2 {
    p {
      @include font_xl();
    }
  }
  .font3 {
    p {
      @include font_l();
    }
  }
  .font4 {
    p {
      @include font_m();
    }
  }
  .font5 {
    p {
      @include font_s();
    }
  }
}
//--------- BUTTON / PAGINATION/ SELECT_DROPDOWN /TITLE_DECORATION  在html使用classname即可-------------//
// * {
//   outline: 1px solid red;
// }
body {
  overflow-x: hidden;
}

// ------第一屏Start--------
.wrap_custom {
  width: 100%;
  height: 100%;
  padding-top: 150px;
  // padding-bottom: 50px;
  // position: relative;
  background: url("../image/bg.png") no-repeat;

  .title_decoration h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
  }
}

.custom_type {
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 500px;
  // display: flex;
  // justify-content: space-around;
  position: relative;

  // .type_position {
  //   width: 33.333333%;
  //   padding: 0px 15px;
  //   position: relative;

  .middle_position {
    width: 20%;

    position: absolute;
    // bottom: -100;
    top: 54.5%;
    left: 0;
    right: 0%;
    margin: auto;
    z-index: 1;
    // right: 2px;
  }
  .second_left_position {
    width: 15%;
    position: absolute;
    top: 50%;
    left: 22%;
    z-index: 1;
  }
  .third_left_position {
    width: 13.5%;
    position: absolute;
    top: 20%;
    left: 32%;
    z-index: 1;
  }
  .second_right_position {
    width: 15%;
    position: absolute;
    top: 50%;
    right: 21.5%;
    z-index: 1;
  }
  .third_right_position {
    width: 13.5%;
    position: absolute;
    top: 20%;
    right: 30%;
    z-index: 1;
  }
  .right_btn {
    width: 2%;
    position: absolute;
    bottom: 5%;
    right: 37%;
  }
  .left_btn {
    width: 2%;
    position: absolute;
    bottom: 5%;
    left: 37%;
  }
}
// ------第一屏End-------

// ----巧克力背景 Start-------
.choco_background {
  // position: relative;
  .choco_img {
    width: 140%;
    position: absolute;
    top: 55%;
    left: -20%;
  }
}

// ----巧克力背景 End-------

// -----第二屏-----

// * {
//   outline: 1px solid red;
// }
.choose_base {
  width: 100%;

  padding-top: 150px;
  background-color: #fff4e2;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  // -----選擇巧克力基底-----

  .select_base {
    max-width: 1200px;
    width: 30%;
    display: flex;
    flex-flow: column wrap;

    .second_step {
      width: 60%;
      // height: 300px;
      margin: 0 auto;
      background-image: url("../image/7.png");
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 53%;

      h3 {
        font-size: 28px;
        text-align: center;
        // padding: 40% 20% 10%;
        // padding-top: 50%;
      }
      p {
        font-size: 16px;
        // padding: 0 30% 30%;
        text-align: center;
      }
    }

    .base_choco {
      width: 100%;
      .choco {
        width: 100%;
        text-align: center;
        padding-top: 30px;
        position: relative;
        img {
          width: 47%;
        }
        figcaption {
          font-size: 16px;
          position: absolute;
          bottom: 37%;
          right: 0;
          left: 0;
        }
      }
    }
  }

  // -----選擇巧克力配料口味-----

  .select_type {
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    .choco_overview {
      width: 100%;
      text-align: center;
      img {
        width: 80%;
      }
    }
    .choco_type {
      width: 100%;
      text-align: center;
      ul {
        padding-top: 1%;
      }
      li {
        display: inline-block;
        padding: 2% 4%;
        img {
          width: 100%;
        }
        p {
          padding-top: 20%;
        }
      }
    }
    .info_bar {
      width: 90%;
      // background-image: url("../image/type-bar.png");
      // background-size: cover;
      // background-repeat: no-repeat;
      margin: 0 auto;
      position: relative;
      text-align: center;
      // padding-bottom: 20px;
      img {
        width: 60%;
      }
      p {
        font-size: 16px;
        position: absolute;
        left: 5%;
        right: 0;
        top: 20%;
      }
    }
  }

  // -------基底介紹-----

  .select_info {
    width: 30%;
    display: flex;
    flex-flow: column wrap;

    .cho_info {
      width: 100%;
      // height: 100%;
      text-align: center;

      background-image: url("../image/talk.png");
      background-size: cover;
      background-repeat: no-repeat;
      h4 {
        font-size: 18px;
        padding: 15% 0;
      }
      p {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 10%;
        text-align: center;
        box-sizing: border-box;
        &:nth-child(3) {
          border-bottom: 1px solid #9a999a;
          padding-bottom: 20%;
        }
        &:nth-child(4) {
          padding: 10% 0 20%;
        }
      }
    }
    .total_price {
      width: 100%;
    }
  }
}
