@import "base/reset";
@import "base/all";
@import "mixins/mixin";
@import "layout/all";
@import "modules/all";

// 此為套用辦法 不是共用版
//共用版為common.sass  and common.html （含header／footer）
//--------- GRID -------------//
// 可直接套用在html 加入class name
@include grid(12);

// @include section_margin();
//--------- RWD -------------//
// 可在sass撰寫3種rwd模組
@include rwd(desktop) {
}
@include rwd(tablet) {
}

@include rwd(mobile) {
}

// --------- FONT -------------//

.font_wrap {
  .font1 {
    p {
      @include font_xxl();
    }
  }
  .font2 {
    p {
      @include font_xl();
    }
  }
  .font3 {
    p {
      @include font_l();
    }
  }
  .font4 {
    p {
      @include font_m();
    }
  }
  .font5 {
    p {
      @include font_s();
    }
  }
}
//--------- BUTTON / PAGINATION/ SELECT_DROPDOWN /TITLE_DECORATION  在html使用classname即可-------------//

.wrap_custom {
  width: 100%;
  height: 1900px;
  padding-top: 150px;
  background: url("../image/bg.png") no-repeat;
  
  .title_decoration h2 {
    text-align: center;
    padding-bottom: 50px;
  }
}
@media all and (max-width: 767px) {
  .title_decoration {
    width: 100%;
  }
}

@media all and (min-width: 768px) {
  .title_decoration {
    width: 589px;
  }
  
}

@media all and (min-width: 992px) {
  .title_decoration {
    width: 589px;
  }
 
}
