.box{
    width: 100px;
    height: 100px;
}

.box1{
    margin: auto;
    background-color: rgb(168, 255, 243);
}

.box2{
    margin: auto;
    background-color: rgb(255, 168, 168);
}

.box3{
    margin: auto;
    background-color: rgb(28, 223, 126);
}

.box4{
    margin: auto;
    background-color: rgb(145, 82, 246);
}

.same{
    width: 300px;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(214, 177, 248);;
}

.box6{
    margin: auto;
    background-color: rgb(248, 181, 209);
    margin-bottom: 10px;
}


.box7{
    margin: auto;
    background-color: rgb(248, 181, 209);
    margin-bottom: 10px;
}

.box8{
    margin: auto;
    background-color: rgb(248, 181, 209);
}

.continuos{
    height: 100vh;
    width: 100vw;
}


.scroll-box{
    height: 100vh;
    width: 100vw;
}


.box9{
    margin: auto;
    background-color: rgb(10, 25, 238);
}

.box10{
    margin: auto;
    background-color: rgb(10, 25, 238);
}

.box11{
    margin: auto;
    background-color: rgb(10, 25, 238);
}

.text-font {
    color: rgb(21, 21, 21);
    &.add {
      color: rgb(9, 45, 202);  
    }
}


.section_02 {
    height: 100vh;
    transition: all 1s ease-in-out;

    .textfont {
         color: rgb(21, 21, 21);
         transition: all 1s ease-in-out;
         &.add {
           color: rgb(9, 45, 202);  
         }
    }

    &.on {
        background-color: rgb(251, 223, 156);
    }
}


* {
    margin: 0;
    padding: 0;
}

.section {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}


.section_08 {
        background-color: rgb(182, 238, 255);
    
        .scrollbox_01 {
            background-color: rgb(255, 185, 185);
        }
    
        .scrollbox_02 {
            background-color: rgb(255, 251, 191);
        }
    
        .scrollbox_03 {
            background-color: rgb(218, 185, 255);
        }
    }


