@import "common";

*{
    font-family:'Noto Sans TC', sans-serif;
    // outline: 1px solid #f00;
}


.contest_body{
    background-color: #FFF5E3;
    overflow-x: hidden;
}
@include rwd(mobile){
   
}
@include rwd(tablet){
    
} 
@include rwd(desktop){
    
   .stage_container{
        padding-top: 150px;
        background: url("../image/contest/fitst_bg.png") no-repeat 0 0 / 100% 100%;
        .title_decoration{
            margin: auto;
            h2{
                @include pos(10%,0,0,0);
            }
        }
        .contain{
            position: relative;
            z-index: 1;
        }
        .stage{
            width: 60.706%;
            height: 0;
            padding-bottom: 58.333333%;
            position: relative;
            background: url("../image/contest/stage.png") no-repeat 0 100% / contain;
        }
        .select_dropdown{
            border-radius: 9px;
            text-indent: 0px;
            padding: 0 0 0 50px;
        }
        .winner{
            position: absolute;
            a{
                display: block;
                width: 55%;
                height: 60%;
                @include pos(10%,0,0,18%);
                z-index: 1;
            }
        }
        #first_place{
            width: 40%;
            left: 27%;
            top: 10%;
            .CHOCO{
                &::after{
                    content: "";
                    position: absolute;
                    width: 55%;
                    height: 47%;
                    top: -6%;
                    right: -4%;
                    top: 0%;
                    right: -16%;
                    background: url("../image/contest/no1.png") 0 0  no-repeat / contain;
                }
            }
            
        }
        #second_place{
            width: 38%;
            left: 7%;
            top: 23%;
        }
        #third_place{
            width: 36%;
            left: 50%;
            top: 32%;
        }
        #fourth_place{
            width: 34%;
            left: -8%;
            top: 43%;
            .vote{
                @include pos(auto,0,-10%,30%);
            }
        }
        #fifth_place{
            width: 32%;
            left: 70%;
            top: 48%;
            .vote{
                @include pos(auto,0,-10%,15%);
            }
        }
        
        .CHOCO{
            animation: dance 4s infinite;
        }
        .vote{
            width: 100%;
            max-width: 85px;
            @include pos(auto,0,-10%,20%);
            z-index: 1;
            animation: upanddown 1s infinite linear alternate;
            cursor: pointer;
            figcaption{
                width: 80%;
                text-align: center;
                @include pos(7%,0,auto,0);
                p{
                    @include font_l();
                }
                span{
                    color: $color_red;
                    @include font_s();
                }
            }
        }
        @keyframes dance {
            0%{
                transform: translateX(0%)
                           translateY(0%);
            }
            25%{
                transform: translateX(-5%)
                           translateY(-2%)
                           rotate(-5deg);
            }
            50%{
                transform: translateX(0%)
                           translateY(0%);
            }
            75%{
                transform: translateX(5%)
                           translateY(-2%)
                           rotate(5deg);
            }
            100%{
                transform: translateX(0%)
                           translateY(0%);
            }
        }
        @keyframes upanddown {
            0%{
                transform: translateY(0%);
            }
            100%{
                transform: translateY(5%);
            }
        }

        .board{
            width: 51.666666%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            background: url("../image/contest/board.png") 0 0  no-repeat / contain;
        }
        .lastest_mseeage{
            width: 80.645%;
            margin: auto;
            padding-top: 13%;
            h3{
                @include font_m();
                text-align: center;
            }
        }
        .message_block{
            border-top: 1px solid #7ECECD;
        }
        .message{
            border-bottom: 1px solid #7ECECD;
            padding: 2%;
            &::after{
                content: "";
                display: block;
                clear: both;
            }
        }
        .cus_photo{
            max-width: 72px;
            box-sizing: content-box;
            width: 14.8453%;
            height: 0;
            padding-bottom: 14.8453%;
            border-radius: 9px;
            border: 2px solid $color_brown;
            float: left;
            position: relative;
            img{
                border-radius: 9px;
                @include pos(0,0,0,0);
            }
        }
        .message_contain{
            float: left;
            width: 60%;
            margin-left: 2%;
            .memName{
                @include font_m();
            }
            .mseeage_text{
                @include font_s();
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        .status{
            float: right;
            width: 20%;
        }
        .message_date{
            color: $color_gray;
            text-align: center;
            @include font_s();
        }
        .orange_l{
            @include pos(73%,0,auto,20%);
        }
        .cyan_l{
            @include pos(83%,0,auto,20%);
        }
   }
   .active_container{
        position: relative;
        width: 100%;
        .circle_bg{
            width: 100%;
            height: 150%;
            background: url("../image/contest/circle_bg.png") no-repeat 50% 100%;
            @include pos(-33%,0,0,0);
        }
        .wrap{
            position: relative;
            z-index: 1;
            h2{
                @include font_xxl();
            }
            &::before{
                content: "";
                width: 100%;
                height: 0;
                display: block;
                padding-bottom: 62%;
                background: url("../image/contest/active_bg.png") 50% 100% no-repeat / contain;
            }
        }
        .rule_introduce{
            width: 50%;
            height: 63.1496%;
            @include pos(32%,0,0,-3%); 
        }
        .title{
            text-align: center;
            position: relative;
            h2{
                background: url("../image/contest/avtive_title.png") 50% 50% no-repeat / contain;
                padding-bottom:1.5%;
            }
        }
        .contain{
            table{
                width: 100%;
            }
            th,td{
                @include font_m();
            }
            td{
                padding: 1% 5%;
                span{
                    color: $color_red;
                }
            }
        }
    }
    .del{
        height: 1200px;
    }
}