@import "base/reset";
@import "base/all";
@import"mixins/mixin";
@import "layout/all";
@import "modules/all";
*{
    font-family:'Noto Sans TC', sans-serif;
}

.contest_body{
    background-color: #FFF5E3;
}
section{
    margin-top: 150px;
    height: 500px;
    div{
        width: 200px;
        height: 200px;
    }
}