

// -----------------RWD------------------//

$mobile :768px;
$tablet:996px;
$desktop:997px;


// -----------------FONT------------------//
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

$font-family: 'Noto Sans TC', sans-serif;

// desktop font
$dfont-xxl:48px;
$dfont-xl:36px;
$dfont-l:28px;
$dfont-m:20px;
$dfont-s:16px;

// tablet font
$tfont-xxl:40px;
$tfont-xl:32px;
$tfont-l:24px;
$tfont-m:18px;
$tfont-s:16px;

// mobile font
$mfont-xxl:32px;
$mfont-xl:26px;
$mfont-l:24px;
$mfont-m:18px;
$mfont-s:16px;




