@import "../base/all";
@import "../mixins/mixin";



@mixin grid($num) {
    @for $i from 1 through $num {
        .col_md_#{$i} {
            width: ($i / $num) * 100%;
            padding: 0 15px;
            box-sizing: border-box;
        }
    }
}

@mixin grid($num) {
    @include rwd(mobile){
        @for $i from 1 through $num {
            .col_#{$i} {
                width: ($i / $num) * 100%;
                padding: 0 15px;
                box-sizing: border-box;
            }
         }
    }

    @include rwd(tablet){
        @for $i from 1 through $num {
            .col_md_#{$i} {
                width: ($i / $num) * 100%;
                padding: 0 15px;
                box-sizing: border-box;
            }
         }
    }
      
    
    @include rwd(desktop){
    @for $i from 1 through $num {
        .col_lg_#{$i} {
            width: ($i / $num) * 100%;
            padding: 0 15px;
            box-sizing: border-box;
        }
     }
    }
}

.wrap{
    width:100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}



section{
    padding-top:50px;
}
