@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans TC', sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  color: #592F13; }

img {
  width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none; }

footer {
  width: 100%;
  height: 160px;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  flex-flow: wrap row;
  align-content: flex-end; }
  footer .connect {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1; }
    footer .connect figure {
      width: 100%;
      max-width: 40px;
      margin: 0 10px; }
      footer .connect figure a {
        display: block; }
  footer p {
    width: 100%;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    color: #F6EED4; }
  footer .bg {
    max-width: 265px;
    width: 35.33333%;
    height: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden; }
  footer .footer_water {
    position: absolute;
    width: 100%;
    top: 67%; }
  footer .footer_square1 {
    position: absolute;
    width: 28%;
    left: 40%;
    top: 50%; }
  footer .footer_square2 {
    position: absolute;
    width: 23%;
    left: 8%;
    top: 40%; }
  footer .footer_square3 {
    position: absolute;
    width: 15%;
    left: 36%;
    top: 28%; }
  footer .footer_square4 {
    position: absolute;
    width: 15%;
    left: 8%;
    top: 14%; }
  footer::after {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../image/headerfooter/m_footer_bg.png") no-repeat 0 100%/100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10; }

.m_header {
  position: relative; }
  .m_header .navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: url("../image/headerfooter/m_navbar_bg.png") no-repeat 0 0/100% 100%;
    height: 120px; }
  .m_header .burger {
    width: 33%; }
    .m_header .burger figure {
      cursor: pointer;
      width: 44px;
      padding: 5px; }
  .m_header .logo {
    width: 170px;
    display: flex;
    justify-content: center; }
    .m_header .logo h1 {
      display: none; }
    .m_header .logo a {
      display: block; }
  .m_header .status {
    width: 33%;
    display: flex;
    justify-content: flex-end; }
    .m_header .status figure {
      width: 44px;
      margin: 0 0 0 5%;
      text-align: center; }
      .m_header .status figure a {
        display: block;
        padding: 8px; }
  .m_header .menubox {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    position: absolute;
    top: -100vh;
    transition: .5s;
    display: none;
    background: url("../image/headerfooter/m_menu_bg.png") repeat-x 0 0/contain; }
    .m_header .menubox li {
      text-align: center;
      padding: 7% 0;
      font-family: "Noto Sans TC", sans-serif;
      line-height: normal;
      position: relative; }
      @media all and (max-width: 767px) {
        .m_header .menubox li {
          font-size: 18px; } }
      @media all and (min-width: 768px) {
        .m_header .menubox li {
          font-size: 24px; } }
      @media all and (min-width: 992px) {
        .m_header .menubox li {
          font-size: 28px; } }
      .m_header .menubox li a {
        color: #F6EED4; }
    @media all and (orientation: landscape) {
      .m_header .menubox li {
        padding: 2% 0; } }
    .m_header .menubox #menuclose {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 20px;
      left: 20px;
      padding: 8px;
      cursor: pointer; }
  .m_header .menuboxopen {
    top: 0vh;
    transition: .5s; }

.d_header {
  display: none; }

.nowpage {
  position: relative;
  top: 9px; }
  .nowpage::before {
    content: "";
    background: url("../image/headerfooter/li_bg.png") no-repeat 50% 0/contain;
    width: 100%;
    height: 25px;
    display: block;
    position: absolute;
    top: -25px;
    right: 0;
    bottom: auto;
    left: 0;
    margin: auto; }

@media all and (min-width: 992px) {
  .m_header {
    display: none; }
  .d_header {
    display: flex;
    padding: 15px 20px;
    width: 100%;
    align-items: flex-start; }
    .d_header .logo {
      width: 185px; }
      .d_header .logo h1 {
        display: none; }
      .d_header .logo a {
        display: block; }
    .d_header .navbar {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .d_header .menubox {
      width: 90%;
      display: flex;
      justify-content: center; }
      .d_header .menubox li {
        font-size: 18px;
        margin: 0 12px;
        position: relative; }
        .d_header .menubox li a {
          color: #F6EED4;
          display: block; } }
    @media all and (min-width: 992px) and (min-width: 1070px) {
      .d_header .menubox li {
        margin: 0 20px; } }
    @media all and (min-width: 992px) and (min-width: 1230px) {
      .d_header .menubox li {
        margin: 0 35px; } }

@media all and (min-width: 992px) {
    .d_header .status {
      display: flex;
      justify-content: flex-end;
      margin-left: auto; }
      .d_header .status figure {
        width: 44px;
        margin: 0 10px; }
        .d_header .status figure a {
          display: block;
          padding: 5px; }
    .d_header::after {
      content: "";
      background: url("../image/headerfooter/navbar_bg.png") no-repeat 0 0/cover;
      width: 100%;
      height: 150px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: auto;
      left: 0;
      margin: auto;
      z-index: -1; } }

#robot_close_control {
  display: none; }
  #robot_close_control:checked + .robot {
    bottom: -23px; }
    #robot_close_control:checked + .robot .robot_close:before {
      transform: rotate(45deg); }
    #robot_close_control:checked + .robot .robot_close:after {
      transform: rotate(-45deg); }

.robot {
  position: fixed;
  right: 20px;
  bottom: -225px;
  width: 300px;
  height: 340px;
  background-image: url("../image/robot/robot2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  transition: bottom 2s; }
  .robot .robot_prompt {
    position: absolute;
    top: -12%;
    right: 0;
    bottom: auto;
    left: 0;
    margin: auto;
    margin: auto;
    display: inline-block;
    width: 50%;
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    line-height: normal;
    line-height: 30px;
    border-radius: 10px;
    border: 2px solid #592F13;
    background-color: white;
    animation: prompt_move 1.5s infinite alternate; }
    @media all and (max-width: 767px) {
      .robot .robot_prompt {
        font-size: 16px; } }
    @media all and (min-width: 768px) {
      .robot .robot_prompt {
        font-size: 16px; } }
    @media all and (min-width: 992px) {
      .robot .robot_prompt {
        font-size: 16px; } }
    .robot .robot_prompt:before {
      content: "";
      position: absolute;
      top: auto;
      right: 0;
      bottom: -14px;
      left: 0;
      margin: auto;
      margin: auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14px 8px 0 8px;
      border-color: #592F13 transparent transparent transparent; }

@keyframes prompt_move {
  0% {
    top: -11%; }
  100% {
    top: -10%; } }
    .robot .robot_prompt:after {
      content: "";
      position: absolute;
      top: auto;
      right: 0;
      bottom: -10px;
      left: 0;
      margin: auto;
      margin: auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 5px 0 5px;
      border-color: white transparent transparent transparent; }
  .robot .eyelid1,
  .robot .eyelid2 {
    width: 15%;
    height: 0;
    background-color: #41261b;
    border-radius: 20%;
    animation: eyelid_move 5s infinite alternate; }
  .robot .eye1,
  .robot .eye2 {
    width: 15%;
    height: 15%;
    background: url(../image/robot/robot_eye.png) no-repeat center;
    background-size: contain;
    animation: eye_rotate 3s infinite alternate; }
  .robot .eyelid1 {
    position: absolute;
    top: 17%;
    right: auto;
    bottom: auto;
    left: 15%;
    margin: auto; }
  .robot .eyelid2 {
    position: absolute;
    top: 17%;
    right: 15%;
    bottom: auto;
    left: auto;
    margin: auto; }
  .robot .eye1 {
    position: absolute;
    top: 18.5%;
    right: auto;
    bottom: auto;
    left: 15%;
    margin: auto; }
  .robot .eye2 {
    position: absolute;
    top: 18.5%;
    right: 15%;
    bottom: auto;
    left: auto;
    margin: auto; }

@keyframes eyelid_move {
  0%,
  95% {
    height: 0; }
  100% {
    height: 17%; } }

@keyframes eye_rotate {
  0% { }
  100% {
    transform: rotate(-45deg); } }
  .robot .robot_close {
    position: absolute;
    top: 8%;
    right: 16.5%;
    bottom: auto;
    left: auto;
    margin: auto;
    width: 10%;
    height: 8%;
    cursor: pointer; }
    .robot .robot_close:before {
      content: "";
      width: 15px;
      height: 2px;
      background-color: #F6EED4;
      position: absolute;
      top: 45%;
      right: auto;
      bottom: auto;
      left: 3px;
      margin: auto;
      transform: rotate(-45deg);
      transition: transform 1s; }
    .robot .robot_close:after {
      content: "";
      width: 15px;
      height: 2px;
      background-color: #F6EED4;
      position: absolute;
      top: 45%;
      right: 3px;
      bottom: auto;
      left: auto;
      margin: auto;
      transform: rotate(45deg);
      transition: transform 1s; }
  .robot .robot_click1 {
    position: absolute;
    top: 45px;
    right: 0;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 90%;
    height: 70px;
    cursor: pointer; }
  .robot .robot_click2 {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 12%;
    margin: auto;
    width: 20%;
    height: 20%;
    cursor: pointer; }
  .robot .robot_click3 {
    position: absolute;
    top: 0;
    right: 11%;
    bottom: auto;
    left: auto;
    margin: auto;
    width: 20%;
    height: 20%;
    cursor: pointer; }
  .robot .robot_click1 {
    position: absolute;
    top: 45px;
    right: 0;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 90%;
    height: 70px;
    cursor: pointer; }
  .robot .robot_content {
    position: absolute;
    top: 35%;
    right: auto;
    bottom: auto;
    left: 10%;
    margin: auto;
    width: 80%;
    height: 70%; }
    .robot .robot_content img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: auto;
      left: 0;
      margin: auto;
      margin: auto;
      width: 194px;
      z-index: 11; }
    .robot .robot_content .message_area {
      padding: 20px 20px 0 20px;
      width: 100%;
      height: 47%;
      overflow-y: scroll;
      overflow-x: hidden; }
      .robot .robot_content .message_area .message {
        position: relative;
        max-width: 80%;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #F6EED4;
        border-radius: 10px;
        word-break: break-all; }
      .robot .robot_content .message_area .message_ask {
        float: right; }
        .robot .robot_content .message_area .message_ask:before {
          content: "";
          position: absolute;
          top: 50%;
          right: -15px;
          bottom: auto;
          left: auto;
          margin: auto;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 0 5px 15px;
          border-color: transparent transparent transparent #F6EED4; }
      .robot .robot_content .message_area .message_answer {
        float: left; }
        .robot .robot_content .message_area .message_answer:before {
          content: "";
          position: absolute;
          top: 50%;
          right: auto;
          bottom: auto;
          left: -15px;
          margin: auto;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 15px 5px 0;
          border-color: transparent #F6EED4 transparent transparent; }
    .robot .robot_content .keyword_area {
      padding: 5px;
      width: 90%;
      height: 15%;
      margin: auto;
      display: flex;
      align-items: center; }
      .robot .robot_content .keyword_area .prev_button,
      .robot .robot_content .keyword_area .next_button {
        border: none;
        background-color: transparent;
        width: 25px;
        height: 25px;
        cursor: pointer;
        color: #F6EED4; }
        .robot .robot_content .keyword_area .prev_button i,
        .robot .robot_content .keyword_area .next_button i {
          color: #F6EED4; }
      .robot .robot_content .keyword_area .keyword_space {
        overflow: hidden; }
        .robot .robot_content .keyword_area .keyword_space .keyword_wrap {
          display: flex; }
          .robot .robot_content .keyword_area .keyword_space .keyword_wrap .keyword {
            color: #F6EED4;
            font-family: "Noto Sans TC", sans-serif;
            line-height: normal;
            padding: 5px;
            display: inline-block;
            cursor: pointer;
            white-space: nowrap; }
            @media all and (max-width: 767px) {
              .robot .robot_content .keyword_area .keyword_space .keyword_wrap .keyword {
                font-size: 16px; } }
            @media all and (min-width: 768px) {
              .robot .robot_content .keyword_area .keyword_space .keyword_wrap .keyword {
                font-size: 16px; } }
            @media all and (min-width: 992px) {
              .robot .robot_content .keyword_area .keyword_space .keyword_wrap .keyword {
                font-size: 16px; } }
    .robot .robot_content .query_area {
      background-color: #ff8d8d;
      width: 90%;
      height: 15%;
      padding: 5px;
      margin: auto;
      display: flex;
      justify-content: center;
      border-radius: 5px; }
      .robot .robot_content .query_area input[type="text"] {
        width: 100%;
        border: none;
        background-color: transparent;
        color: #F6EED4; }
        .robot .robot_content .query_area input[type="text"]::placeholder {
          color: #F6EED4;
          font-weight: bold; }
      .robot .robot_content .query_area input[type="submit"] {
        position: relative;
        border: none;
        background-color: transparent;
        color: #F6EED4;
        cursor: pointer;
        font-weight: bold;
        border-left: 1px solid #F6EED4; }

@media (max-width: 767px) {
  .robot {
    display: none; } }

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent; }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #825740; }

.btn {
  color: #F6EED4;
  text-align: center;
  padding: 10px;
  display: inline-block;
  transition: all 0.5s;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 0 5px #ccc; }
  .btn span {
    color: #F6EED4;
    display: inline-block;
    position: relative;
    transition: 0.5s; }
    .btn span::after {
      content: '\00bb';
      position: absolute;
      display: inline-block;
      color: #F6EED4;
      transition: 0.5s;
      opacity: 0; }
  .btn:hover span::after {
    opacity: 1; }
  .btn:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    transition: all 0.05s cubic-bezier(0.17, 0.67, 0, 1.89); }
  @media all and (max-width: 767px) {
    .btn {
      box-shadow: 0 2px #ccc;
      border-radius: 10px; }
      .btn span::after {
        display: none; } }

.orange_s {
  box-shadow: 0 5px #c3771b;
  font-size: 16px;
  background-color: #f09122; }
  .orange_s span::after {
    display: none; }
  .orange_s:hover {
    background-color: #ce592c; }
    .orange_s:hover span::after {
      right: -12px; }
  .orange_s span::after {
    right: -8px; }
  @media all and (max-width: 767px) {
    .orange_s {
      width: 60px; } }
  @media all and (min-width: 768px) {
    .orange_s {
      width: 90px; } }
  @media all and (min-width: 992px) {
    .orange_s {
      width: 90px; } }

.cyan_s {
  box-shadow: 0 5px #157E8F;
  font-size: 16px;
  background-color: #1c99ae; }
  .cyan_s span::after {
    display: none; }
  .cyan_s:hover {
    background-color: #187f8f; }
    .cyan_s:hover span::after {
      right: -12px; }
  .cyan_s span::after {
    right: -8px; }
  @media all and (max-width: 767px) {
    .cyan_s {
      width: 60px; } }
  @media all and (min-width: 768px) {
    .cyan_s {
      width: 90px; } }
  @media all and (min-width: 992px) {
    .cyan_s {
      width: 90px; } }

.orange_m {
  box-shadow: 0 5px #c3771b;
  font-size: 16px;
  background-color: #f09122; }
  .orange_m span::after {
    display: none; }
  .orange_m:hover {
    background-color: #ce592c; }
    .orange_m:hover span::after {
      right: -12px; }
  .orange_m span::after {
    right: -8px; }
  @media all and (max-width: 767px) {
    .orange_m {
      width: 100px; } }
  @media all and (min-width: 768px) {
    .orange_m {
      width: 110px; } }
  @media all and (min-width: 992px) {
    .orange_m {
      width: 110px; } }

.cyan_m {
  box-shadow: 0 5px #157E8F;
  font-size: 16px;
  background-color: #1c99ae; }
  .cyan_m span::after {
    display: none; }
  .cyan_m:hover {
    background-color: #187f8f; }
    .cyan_m:hover span::after {
      right: -12px; }
  .cyan_m span::after {
    right: -8px; }
  @media all and (max-width: 767px) {
    .cyan_m {
      width: 100px; } }
  @media all and (min-width: 768px) {
    .cyan_m {
      width: 110px; } }
  @media all and (min-width: 992px) {
    .cyan_m {
      width: 110px; } }

.orange_l {
  box-shadow: 0 5px #c3771b;
  font-size: 16px;
  background-color: #f09122; }
  .orange_l:hover {
    background-color: #ce592c; }
    .orange_l:hover span::after {
      right: -25px; }
  .orange_l span::after {
    right: -15px; }
  @media all and (max-width: 767px) {
    .orange_l {
      width: 120px; } }
  @media all and (min-width: 768px) {
    .orange_l {
      width: 170px;
      padding: 12px; } }
  @media all and (min-width: 992px) {
    .orange_l {
      width: 200px;
      padding: 15px; } }

.cyan_l {
  box-shadow: 0 5px #157E8F;
  font-size: 16px;
  background-color: #1c99ae; }
  .cyan_l:hover {
    background-color: #187f8f; }
    .cyan_l:hover span::after {
      right: -25px; }
  .cyan_l span::after {
    right: -15px; }
  @media all and (max-width: 767px) {
    .cyan_l {
      width: 120px; } }
  @media all and (min-width: 768px) {
    .cyan_l {
      width: 170px;
      padding: 12px; } }
  @media all and (min-width: 992px) {
    .cyan_l {
      width: 200px;
      padding: 15px; } }

.orange_xl {
  font-size: 28px;
  background-color: #f09122; }
  .orange_xl:hover {
    background-color: #ce592c; }
    .orange_xl:hover span::after {
      right: -30px; }
  .orange_xl span::after {
    right: -20px; }
  @media all and (max-width: 767px) {
    .orange_xl {
      width: 200px; } }
  @media all and (min-width: 768px) {
    .orange_xl {
      width: 240px;
      padding: 15px;
      box-shadow: 0 8px #c3771b; } }
  @media all and (min-width: 992px) {
    .orange_xl {
      width: 270px;
      padding: 15px;
      box-shadow: 0 8px #c3771b; } }

.cyan_xl {
  box-shadow: 0 5px #157E8F;
  font-size: 28px;
  background-color: #1c99ae; }
  .cyan_xl:hover {
    background-color: #187f8f; }
    .cyan_xl:hover span::after {
      right: -30px; }
  .cyan_xl span::after {
    right: -20px; }
  @media all and (max-width: 767px) {
    .cyan_xl {
      width: 200px; } }
  @media all and (min-width: 768px) {
    .cyan_xl {
      width: 240px;
      padding: 15px;
      box-shadow: 0 8px #157E8F; } }
  @media all and (min-width: 992px) {
    .cyan_xl {
      width: 270px;
      padding: 15px;
      box-shadow: 0 8px #157E8F; } }

.pagination {
  display: inline-block;
  margin: auto; }
  .pagination a {
    color: #1c99ae;
    float: left;
    padding: 8px 15px;
    text-decoration: none;
    border: 1px solid #1c99ae; }
    .pagination a:hover {
      background-color: #187f8f;
      color: #F6EED4;
      border: 1px solid #187f8f; }
    .pagination a:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      width: 30px; }
    .pagination a:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .pagination .active {
    background-color: #187f8f;
    color: #F6EED4;
    border: 1px solid #187f8f; }

.select_dropdown {
  width: 200px;
  font-size: 16px;
  height: 36px;
  color: #F6EED4;
  appearance: none;
  background: #F0ECDD url(../image/common/select.png) no-repeat center;
  border-radius: 5px;
  padding-left: 50px; }
  .select_dropdown option {
    color: #187f8f; }
  @media all and (max-width: 767px) {
    .select_dropdown {
      width: 100%；; } }

.title_decoration {
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal;
  position: relative;
  margin: auto; }
  @media all and (max-width: 767px) {
    .title_decoration {
      font-size: 18px; } }
  @media all and (min-width: 768px) {
    .title_decoration {
      font-size: 24px; } }
  @media all and (min-width: 992px) {
    .title_decoration {
      font-size: 28px; } }
  .title_decoration h2 {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center; }
  @media all and (max-width: 767px) {
    .title_decoration {
      width: 100%; }
      .title_decoration h2 {
        top: 20%; } }
  @media all and (min-width: 768px) {
    .title_decoration {
      width: 589px; }
      .title_decoration h2 {
        top: 24%; } }
  @media all and (min-width: 992px) {
    .title_decoration {
      width: 589px; }
      .title_decoration h2 {
        top: 22%; } }

#prev_btn {
  padding: 10px;
  background-color: #1c99ae;
  color: #F6EED4;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal; }
  @media all and (max-width: 767px) {
    #prev_btn {
      font-size: 18px; } }
  @media all and (min-width: 768px) {
    #prev_btn {
      font-size: 18px; } }
  @media all and (min-width: 992px) {
    #prev_btn {
      font-size: 20px; } }
  #prev_btn:hover {
    background-color: #187f8f; }

#next_btn {
  padding: 10px;
  background-color: #1c99ae;
  color: #F6EED4;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Noto Sans TC", sans-serif;
  line-height: normal; }
  @media all and (max-width: 767px) {
    #next_btn {
      font-size: 18px; } }
  @media all and (min-width: 768px) {
    #next_btn {
      font-size: 18px; } }
  @media all and (min-width: 992px) {
    #next_btn {
      font-size: 20px; } }
  #next_btn:hover {
    background-color: #187f8f; }

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px; }

section {
  padding-top: 50px; }

@media all and (max-width: 767px) {
  .col_1 {
    width: 8.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_2 {
    width: 16.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_3 {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_4 {
    width: 33.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_5 {
    width: 41.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_6 {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_7 {
    width: 58.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_8 {
    width: 66.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_9 {
    width: 75%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_10 {
    width: 83.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_11 {
    width: 91.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_12 {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box; } }

@media all and (min-width: 768px) {
  .col_md_1 {
    width: 8.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_2 {
    width: 16.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_3 {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_4 {
    width: 33.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_5 {
    width: 41.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_6 {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_7 {
    width: 58.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_8 {
    width: 66.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_9 {
    width: 75%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_10 {
    width: 83.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_11 {
    width: 91.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_md_12 {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box; } }

@media all and (min-width: 992px) {
  .col_lg_1 {
    width: 8.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_2 {
    width: 16.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_3 {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_4 {
    width: 33.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_5 {
    width: 41.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_6 {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_7 {
    width: 58.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_8 {
    width: 66.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_9 {
    width: 75%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_10 {
    width: 83.33333%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_11 {
    width: 91.66667%;
    padding: 0 15px;
    box-sizing: border-box; }
  .col_lg_12 {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box; } }

* {
  outline: 1px solid #f00; }

body {
  overflow-x: hidden;
  background-color: #e8c7a3; }

header {
  z-index: 11; }
  header #lightBox {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background: rgba(66, 66, 66, 0.6); }
    header #lightBox #tableLogin {
      position: relative;
      top: 23%;
      width: 36%;
      max-width: 480px;
      min-width: 300px;
      margin: 0 auto;
      text-align: center; }
      header #lightBox #tableLogin #login_bg {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; }
      header #lightBox #tableLogin .login_password {
        position: absolute;
        top: 5%;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 90%; }
        header #lightBox #tableLogin .login_password .btnLoginCancel {
          width: 25px;
          position: absolute;
          right: 0; }
        header #lightBox #tableLogin .login_password h3 {
          font-size: 28px;
          color: #f0ecdd;
          padding: 4% 0; }
        header #lightBox #tableLogin .login_password #memId {
          width: 45%;
          margin-bottom: 5%;
          border-radius: 10px;
          line-height: 24px; }
          header #lightBox #tableLogin .login_password #memId ::-webkit-input-placeholder {
            color: #999; }
          header #lightBox #tableLogin .login_password #memId::placeholder {
            color: #999; }
        header #lightBox #tableLogin .login_password #memPsw {
          width: 45%;
          margin-bottom: 2%;
          border-radius: 10px;
          line-height: 24px; }
          header #lightBox #tableLogin .login_password #memPsw ::-webkit-input-placeholder {
            color: #999; }
          header #lightBox #tableLogin .login_password #memPsw::placeholder {
            color: #999; }
        header #lightBox #tableLogin .login_password #forget_password {
          color: #f0ecdd;
          font-size: 12px;
          text-decoration-line: underline;
          display: block;
          margin-left: 25%;
          margin-bottom: 1%; }
        header #lightBox #tableLogin .login_password span {
          color: #E48C28;
          font-size: 12px;
          margin-right: 8%; }
        header #lightBox #tableLogin .login_password #register {
          color: #f0ecdd;
          font-size: 12px;
          text-decoration-line: underline; }
  header #passwordLightBox {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background: rgba(66, 66, 66, 0.6); }
    header #passwordLightBox #getPassword {
      position: relative;
      top: 23%;
      width: 36%;
      max-width: 480px;
      min-width: 300px;
      margin: 0 auto;
      text-align: center; }
      header #passwordLightBox #getPassword .login_password {
        position: absolute;
        top: 5%;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 90%; }
        header #passwordLightBox #getPassword .login_password #rebtnLogin {
          color: #E48C28;
          font-size: 12px;
          text-decoration-line: underline;
          position: absolute;
          left: 3%; }
        header #passwordLightBox #getPassword .login_password .btnLoginCancel {
          width: 25px;
          position: absolute;
          right: 0; }
        header #passwordLightBox #getPassword .login_password h3 {
          font-size: 28px;
          color: #f0ecdd;
          padding: 2% 0; }
        header #passwordLightBox #getPassword .login_password p {
          color: #f0ecdd;
          font-size: 12px;
          line-height: 20px; }
        header #passwordLightBox #getPassword .login_password #userEmail {
          width: 55%;
          margin: 3% 0;
          border-radius: 10px;
          line-height: 24px; }
          header #passwordLightBox #getPassword .login_password #userEmail ::-webkit-input-placeholder {
            color: #999; }
          header #passwordLightBox #getPassword .login_password #userEmail::placeholder {
            color: #999; }
        header #passwordLightBox #getPassword .login_password #newMemPsw {
          width: 55%;
          margin-bottom: 3%;
          border-radius: 10px;
          line-height: 24px; }
          header #passwordLightBox #getPassword .login_password #newMemPsw ::-webkit-input-placeholder {
            color: #999; }
          header #passwordLightBox #getPassword .login_password #newMemPsw::placeholder {
            color: #999; }
        header #passwordLightBox #getPassword .login_password #reNewMemPsw {
          width: 55%;
          margin-bottom: 3%;
          border-radius: 10px;
          line-height: 24px; }
          header #passwordLightBox #getPassword .login_password #reNewMemPsw ::-webkit-input-placeholder {
            color: #999; }
          header #passwordLightBox #getPassword .login_password #reNewMemPsw::placeholder {
            color: #999; }
        header #passwordLightBox #getPassword .login_password #forget_password {
          color: #E48C28;
          font-size: 12px;
          text-decoration-line: underline;
          display: block;
          margin-left: 25%;
          margin-bottom: 1%; }
  header #registerLightBox {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background: rgba(66, 66, 66, 0.6); }
    header #registerLightBox #registered {
      position: relative;
      top: 23%;
      width: 36%;
      max-width: 480px;
      min-width: 300px;
      margin: 0 auto;
      text-align: center; }
      header #registerLightBox #registered .login_register {
        position: absolute;
        top: 5%;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 90%; }
        header #registerLightBox #registered .login_register .btnLoginCancel {
          width: 25px;
          position: absolute;
          right: 0; }
        header #registerLightBox #registered .login_register h3 {
          font-size: 28px;
          color: #f0ecdd;
          padding: 2% 0; }
        header #registerLightBox #registered .login_register p {
          color: #f0ecdd;
          font-size: 12px;
          line-height: 20px; }
        header #registerLightBox #registered .login_register span {
          width: 35%;
          float: left;
          margin-top: 8px;
          text-align: left;
          color: #f0ecdd; }
        header #registerLightBox #registered .login_register #newMemId {
          width: 55%;
          margin: 1% 0;
          border-radius: 10px;
          line-height: 24px; }
          header #registerLightBox #registered .login_register #newMemId ::-webkit-input-placeholder {
            color: #999; }
          header #registerLightBox #registered .login_register #newMemId::placeholder {
            color: #999; }
        header #registerLightBox #registered .login_register #newmemEmail {
          width: 55%;
          margin-bottom: 1%;
          border-radius: 10px;
          line-height: 24px; }
          header #registerLightBox #registered .login_register #newmemEmail ::-webkit-input-placeholder {
            color: #999; }
          header #registerLightBox #registered .login_register #newmemEmail::placeholder {
            color: #999; }
        header #registerLightBox #registered .login_register #newMemPsw {
          width: 55%;
          margin-bottom: 1%;
          border-radius: 10px;
          line-height: 24px; }
          header #registerLightBox #registered .login_register #newMemPsw ::-webkit-input-placeholder {
            color: #999; }
          header #registerLightBox #registered .login_register #newMemPsw::placeholder {
            color: #999; }
        header #registerLightBox #registered .login_register #renewMemPsw {
          width: 55%;
          margin-bottom: 2%;
          border-radius: 10px;
          line-height: 24px; }
          header #registerLightBox #registered .login_register #renewMemPsw ::-webkit-input-placeholder {
            color: #999; }
          header #registerLightBox #registered .login_register #renewMemPsw::placeholder {
            color: #999; }
        header #registerLightBox #registered .login_register #forget_password {
          color: #E48C28;
          font-size: 12px;
          text-decoration-line: underline;
          display: block;
          margin-left: 25%;
          margin-bottom: 1%; }

.container .aboutus {
  height: 960px;
  padding: 0 20px;
  background: url("../image/aboutus/aboutus_bg_01.png") no-repeat 50% 0;
  margin: 0 auto;
  text-align: center; }

@media all and (min-width: 768px) {
  header {
    z-index: 11; }
    header #lightBox {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      background: rgba(66, 66, 66, 0.6); }
      header #lightBox #tableLogin {
        position: relative;
        top: 23%;
        width: 36%;
        max-width: 480px;
        min-width: 300px;
        margin: 0 auto;
        text-align: center; }
        header #lightBox #tableLogin #login_bg {
          width: 100%;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto; }
        header #lightBox #tableLogin .login_password {
          position: absolute;
          top: 5%;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 90%; }
          header #lightBox #tableLogin .login_password .btnLoginCancel {
            width: 25px;
            position: absolute;
            right: 0; }
          header #lightBox #tableLogin .login_password h3 {
            font-size: 36px;
            color: #f0ecdd;
            padding: 4% 0; }
          header #lightBox #tableLogin .login_password #memId {
            width: 45%;
            margin-bottom: 5%;
            border-radius: 10px;
            line-height: 24px; }
            header #lightBox #tableLogin .login_password #memId ::-webkit-input-placeholder {
              color: #999; }
            header #lightBox #tableLogin .login_password #memId::placeholder {
              color: #999; }
          header #lightBox #tableLogin .login_password #memPsw {
            width: 45%;
            margin-bottom: 2%;
            border-radius: 10px;
            line-height: 24px; }
            header #lightBox #tableLogin .login_password #memPsw ::-webkit-input-placeholder {
              color: #999; }
            header #lightBox #tableLogin .login_password #memPsw::placeholder {
              color: #999; }
          header #lightBox #tableLogin .login_password #forget_password {
            color: #E48C28;
            font-size: 16px;
            text-decoration-line: underline;
            display: block;
            margin-left: 25%;
            margin-bottom: 1%; }
          header #lightBox #tableLogin .login_password span {
            color: #f0ecdd;
            margin-right: 8%;
            font-size: 12px; }
          header #lightBox #tableLogin .login_password #register {
            color: #E48C28;
            text-decoration-line: underline;
            font-size: 12px; } }

@media all and (min-width: 992px) {
  header {
    z-index: 11; }
    header #lightBox {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      background: rgba(66, 66, 66, 0.6); }
      header #lightBox #tableLogin {
        position: relative;
        top: 23%;
        width: 36%;
        max-width: 480px;
        min-width: 300px;
        margin: 0 auto;
        text-align: center; }
        header #lightBox #tableLogin #login_bg {
          width: 100%;
          position: absolute;
          top: 23%;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto; }
        header #lightBox #tableLogin .login_password {
          position: absolute;
          top: 5%;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 90%; }
          header #lightBox #tableLogin .login_password .btnLoginCancel {
            width: 25px;
            position: absolute;
            right: 0; }
          header #lightBox #tableLogin .login_password h3 {
            font-size: 36px;
            color: #f0ecdd;
            padding: 8% 0; }
          header #lightBox #tableLogin .login_password #memId {
            width: 45%;
            margin-bottom: 5%;
            border-radius: 10px;
            line-height: 24px; }
            header #lightBox #tableLogin .login_password #memId ::-webkit-input-placeholder {
              color: #999; }
            header #lightBox #tableLogin .login_password #memId::placeholder {
              color: #999; }
          header #lightBox #tableLogin .login_password #memPsw {
            width: 45%;
            margin-bottom: 2%;
            border-radius: 10px;
            line-height: 24px; }
            header #lightBox #tableLogin .login_password #memPsw ::-webkit-input-placeholder {
              color: #999; }
            header #lightBox #tableLogin .login_password #memPsw::placeholder {
              color: #999; }
          header #lightBox #tableLogin .login_password #forget_password {
            color: #E48C28;
            font-size: 16px;
            text-decoration-line: underline;
            display: block;
            margin-left: 25%;
            margin-bottom: 3%; }
          header #lightBox #tableLogin .login_password span {
            color: #f0ecdd;
            margin-right: 8%;
            font-size: 16px; }
          header #lightBox #tableLogin .login_password #register {
            color: #E48C28;
            text-decoration-line: underline;
            font-size: 16px; }
    header #passwordLightBox #getPassword .login_password {
      position: absolute;
      top: 5%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 90%; }
      header #passwordLightBox #getPassword .login_password #rebtnLogin {
        color: #E48C28;
        font-size: 16px;
        text-decoration-line: underline;
        position: absolute;
        left: 3%; }
      header #passwordLightBox #getPassword .login_password .btnLoginCancel {
        width: 25px;
        position: absolute;
        right: 0; }
      header #passwordLightBox #getPassword .login_password h3 {
        font-size: 36px;
        color: #f0ecdd;
        padding: 6% 0 4% 0; }
      header #passwordLightBox #getPassword .login_password p {
        color: #f0ecdd;
        font-size: 12px;
        line-height: 20px;
        padding: 2% 0 2% 0; }
      header #passwordLightBox #getPassword .login_password #userEmail {
        width: 55%;
        margin: 3% 0;
        border-radius: 10px;
        line-height: 24px; }
        header #passwordLightBox #getPassword .login_password #userEmail ::-webkit-input-placeholder {
          color: #999; }
        header #passwordLightBox #getPassword .login_password #userEmail::placeholder {
          color: #999; }
      header #passwordLightBox #getPassword .login_password #newMemPsw {
        width: 55%;
        margin-bottom: 3%;
        border-radius: 10px;
        line-height: 24px; }
        header #passwordLightBox #getPassword .login_password #newMemPsw ::-webkit-input-placeholder {
          color: #999; }
        header #passwordLightBox #getPassword .login_password #newMemPsw::placeholder {
          color: #999; }
      header #passwordLightBox #getPassword .login_password #reNewMemPsw {
        width: 55%;
        margin-bottom: 3%;
        border-radius: 10px;
        line-height: 24px; }
        header #passwordLightBox #getPassword .login_password #reNewMemPsw ::-webkit-input-placeholder {
          color: #999; }
        header #passwordLightBox #getPassword .login_password #reNewMemPsw::placeholder {
          color: #999; }
      header #passwordLightBox #getPassword .login_password #forget_password {
        color: #E48C28;
        font-size: 12px;
        text-decoration-line: underline;
        display: block;
        margin-left: 25%;
        margin-bottom: 1%; }
    header #registerLightBox {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      background: rgba(66, 66, 66, 0.6); }
      header #registerLightBox #registered {
        position: relative;
        top: 23%;
        width: 36%;
        max-width: 480px;
        min-width: 300px;
        margin: 0 auto;
        text-align: center; }
        header #registerLightBox #registered .login_register {
          position: absolute;
          top: 5%;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 90%; }
          header #registerLightBox #registered .login_register .btnLoginCancel {
            width: 25px;
            position: absolute;
            right: 0; }
          header #registerLightBox #registered .login_register h3 {
            font-size: 36px;
            color: #f0ecdd;
            padding: 4% 0; }
          header #registerLightBox #registered .login_register p {
            color: #f0ecdd;
            font-size: 12px;
            line-height: 20px;
            margin: 5% 0; }
          header #registerLightBox #registered .login_register span {
            width: 20%;
            float: left;
            margin: 8px 0 8px 30px;
            text-align: left;
            color: #f0ecdd; }
          header #registerLightBox #registered .login_register #newMemId {
            width: 55%;
            margin-bottom: 3%;
            border-radius: 10px;
            line-height: 24px; }
            header #registerLightBox #registered .login_register #newMemId ::-webkit-input-placeholder {
              color: #999; }
            header #registerLightBox #registered .login_register #newMemId::placeholder {
              color: #999; }
          header #registerLightBox #registered .login_register #newmemEmail {
            width: 55%;
            margin-bottom: 3%;
            border-radius: 10px;
            line-height: 24px; }
            header #registerLightBox #registered .login_register #newmemEmail ::-webkit-input-placeholder {
              color: #999; }
            header #registerLightBox #registered .login_register #newmemEmail::placeholder {
              color: #999; }
          header #registerLightBox #registered .login_register #newMemPsw {
            width: 55%;
            margin-bottom: 3%;
            border-radius: 10px;
            line-height: 24px; }
            header #registerLightBox #registered .login_register #newMemPsw ::-webkit-input-placeholder {
              color: #999; }
            header #registerLightBox #registered .login_register #newMemPsw::placeholder {
              color: #999; }
          header #registerLightBox #registered .login_register #renewMemPsw {
            width: 55%;
            margin-bottom: 3%;
            border-radius: 10px;
            line-height: 24px; }
            header #registerLightBox #registered .login_register #renewMemPsw ::-webkit-input-placeholder {
              color: #999; }
            header #registerLightBox #registered .login_register #renewMemPsw::placeholder {
              color: #999; }
          header #registerLightBox #registered .login_register #forget_password {
            color: #E48C28;
            font-size: 12px;
            text-decoration-line: underline;
            display: block;
            margin-left: 25%;
            margin-bottom: 1%; } }
