@import "../../common/sass/common.scss";

.game_body{
    overflow: hidden;
}
.game_container{
    position: relative;
}
section{
    padding: 0;
}
#score{
    position: absolute;
    top: 200px;
    left: 40px;
    z-index: 1;
    color: #fff;
    font-size: 48px;
    letter-spacing: 3px;
    &::before{
        content: "SCORE : ";
        position: absolute;
        z-index: -1;
        color: $color_brown;
        -webkit-text-stroke: 8px $color_brown;
        font-weight: bold;
    }
}
#scorenum{
    color: $color_red;
    font-size: 48px;
    font-weight: bold;
    transform: scale(1.3);
    display: inline-block;
    margin-left: 15px;
}
#time{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 200px;
    z-index: 1;
    p{
        color: #fff;
        font-size: 48px;
        letter-spacing: 3px;
        transform: scale(1.5);
        letter-spacing: 17px;
    }
    #outerword{
        color: $color_brown;
        -webkit-text-stroke: 8px $color_brown;
        font-weight: bold;
    }
    #innerword{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        span{
            color: #fff;
        }
    }
}
#introduce{
    @include pos(307px,0,auto,0);
    z-index: 1;
    width: 671px;
    img{
        &:nth-child(2){
            @include pos(180px,auto,auto,298px);
            width: 33px;
            animation: keyshow .6s infinite;
        }
        &:nth-child(3){
            @include pos(179px,auto,auto,365px);
            width: 33px;
            animation: keyshow .6s .3s infinite;
        }
    }
}
@keyframes keyshow{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#start{
    @include pos(325px,0,auto,0);
    z-index: 1;
}
.title_decoration{
    @include pos(170px,0,auto,0);
    z-index: 1;
}
#timeup{
    width: 860px;
    @include pos(170px,0,auto,0);
    z-index: 1;
    text-align: center;
    display: none;
    img{
        opacity: 0;
        &:nth-child(1){
            width: 145px;
            animation: movedown 1s forwards;
        }
        &:nth-child(2){
            width: 55px;
            animation: movedown 1s 0.2s forwards;
        }
        &:nth-child(3){
            width: 151px;
            animation: movedown 1s 0.3s forwards;
        }
        &:nth-child(4){
            width: 124px;
            animation: movedown 1s 0.4s forwards;
        }
        &:nth-child(5){
            width: 160px;
            animation: movedown 1s 0.5s forwards;
        }
        &:nth-child(6){
            width: 137px;
            animation: movedown 1s 0.6s forwards;
        }
    }
}
@keyframes movedown{
    0% {
        opacity: 0;
		transform: translateY(0px);
	}

	12% {
		transform: translateY(10.89px);
	}

	24% {
		transform: translateY(43.56px);
	}

	36% {
		transform: translateY(98.01px);
	}

	54% {
		transform: translateY(75.02px);
	}

	74% {
		transform: translateY(98.37px);
	}

	82% {
		transform: translateY(93.75px);
	}

	92% {
		transform: translateY(99.34px);
	}

	96% {
		transform: translateY(98.46px);
	}

	100% {
        opacity: 1;
		transform: translateY(100px);
	}
}

.choco_bonus{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.65);
    position: absolute;
    z-index: 11;
    display: none;
}
.bonus_house{
    width: 900px;
    height: 625px;
    @include pos(0,0,20%,0);
    z-index: 1;
}
.CHOCO{
    width: 292px;
    z-index: -1;
}
.bear{
    @include pos(auto,auto,0,-165px);
    transform: rotate(-15deg);
    transition: .5s;
    .bearhand{
        @include pos(-36%,0%,0%,-42%);
        width: 140px;
        transform-origin: 100% 100%;
        transform: rotate(-26deg); //-20 ~ -30
        animation: bearhand 1s infinite alternate;
    }
    .eyeleft{
        @include pos(-12.6712%,0%,0%,-12.3287%);
        width: 25px;
    }
    .blinkleft{
        @include pos(-31.506%,0%,0%,-6.8493%); //-45
        width: 50px;
        animation: bearblink 5s infinite;
    }
    .bearne{
        position: relative;
    }
}
@keyframes bearhand {
    0%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
@keyframes bearblink {
    0%{
        top: -31.506%
    }
    45%{
        top: -31.506%
    }
    50%{
        top: -15.068%
    }
    55%{
        top: -31.506%
    }
    100%{
        top: -31.506%
    }
}
.cake{
    @include pos(auto,-24.6575%,-3%,auto);
    transform: rotate(15deg);
    .cakehand{
        @include pos(-43%,0%,0%,33%);
        width: 140px;
        transform-origin: 0% 100%;
        transform: rotate(15deg); 
        animation: cakehand 1s infinite alternate;
    }
    .eye{
        @include pos(-3.4246%,0%,0%,-38.5891%);
        width: 53px;
    }
    .blink{
        @include pos(-5%,0%,0%,-38%);
        width: 55px;
        height: 55px;
        overflow: hidden;
        img{
            @include pos(-160%,0%,0%,0%); 
            width: 150%;
            animation: cakeblink 6s infinite;
        }
    }
    .cakene{
        position: relative;
    }
}
@keyframes cakehand {
    0%{
        transform: rotate(8deg);
    }
    100%{
        transform: rotate(20deg);
    }
}
@keyframes cakeblink {
    0%{
        top: -160%
    }
    45%{
        top: -160%
    }
    50%{
        top: 7%
    }
    55%{
        top: -160%
    }
    100%{
        top: -160%
    }
}
.cardlist{
    width: 100%;
    height: 200px;
    @include pos(50%,0,0,10px);
    padding: 0 50px;
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}
.card{
    width: 200px;
    float: left;
    margin: 0 33px;
    cursor: pointer;
    perspective:400px;
    position: relative;
    figcaption{
        @include pos(0,0,0,0);
        text-align: center;
        line-height: 200px;
        font-size: 48px;
        font-weight: bold;
    }
    .outtext{
        color: $color_brown;
        -webkit-text-stroke: 8px $color_brown; 
    }
    .innertext{
        color: $color_milk;
    }
}
.front,.back{
    transition: .5s;
    backface-visibility: hidden;
}
.front{
    transform: rotateY(0deg);
}
.back{
    transform: rotateY(180deg);
    @include pos(0,auto,auto,0);
}
.frontshow{
    transform: rotateY(180deg);
}
.backshow{
    transform: rotateY(360deg);
}
.nopointer{
    pointer-events: none;
}
.final{
    width: 737px;
    height: 575px;
    @include pos(0,0,0,0);
    z-index: 1;
    display: none;
    p{
        font-size: 60px;
        @include pos(48%,0,auto,0);
        text-align: center;
        color: $color_red;
        span{
            color: $color_red;
        }
    }
}
#board_close{
    width: 29px;
    @include pos(21%,19%,auto,auto);
    cursor: pointer;
    display: none;
}
#again{
    @include pos(auto,auto,23%,21%);
}
#gostore{
    @include pos(auto,19%,23%,auto);
}