@import "base/all";
@import "mixins/mixin";



.btn_orange {
 
  background-color:#f09122 ;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  display: inline-block;
  transition: all 0.5s;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0 8px #ccc;
  vertical-align: middle;

    span{
        display: inline-block;
        position: relative;
        transition: 0.5s;

        &::after{
            content: ' ﹥';
            position: absolute;
            display: inline-block;
            right:-20px;
            color: #fff;
            transition: 0.5s;
            opacity: 0;
        }
    }

    &:hover{
        background-color: #ce592c;

        span::after{
            opacity: 1;
            right: -30px;
        }
    }

    &:active{
        background-color: #ce592c;
        box-shadow: 0 2px #666;
        transform: translateY(4px);
        transition:all 0.05s cubic-bezier(.17,.67,0,1.89);
    }

    @include rwd(mobile){
        width: $mbtn_width;
        .btn_orange{
            box-shadow: 0 5px #ccc;
        }
        span::after{
            display: none;
        }
    }
    @include rwd(tablet){
        width: $tbtn_width;
    }
    @include rwd(desktop){
        width: $dbtn_width;
    }

}



.btn_orange_l {
    background-color:#f09122 ;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    display: inline-block;
    transition: all 0.5s;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 0 8px #ccc;
    vertical-align: middle;
  
      span{
          display: inline-block;
          position: relative;
          transition: 0.5s;
  
          &::after{
              content: ' ﹥';
              position: absolute;
              display: inline-block;
              right:-20px;
              color: #fff;
              transition: 0.5s;
              opacity: 0;
          }
      }
  
      &:hover{
          background-color: #ce592c;
  
          span::after{
              opacity: 1;
              right: -30px;
          }
      }
  
      &:active{
          background-color: #ce592c;
          box-shadow: 0 2px #666;
          transform: translateY(4px);
          transition:all 0.05s cubic-bezier(.17,.67,0,1.89);
      }
  
      @include rwd(mobile){
          width: $mbtn_width_l;
          .btn_orange{
              box-shadow: 0 5px #ccc;
              font-size: 16px;
          }
          span::after{
              display: none;
          }
      }
      @include rwd(tablet){
          width: $tbtn_width_l;
          font-size: 16px;
      }
      @include rwd(desktop){
          width: $dbtn_width_l;
          font-size: 20px;
      }
  
  }






.btn_cyan {
 
    background-color:#1c99ae ;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    display: inline-block;
    transition: all 0.5s;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 0 8px #ccc;
    vertical-align: middle;
  
      span{
          display: inline-block;
          position: relative;
          transition: 0.5s;
  
          &::after{
              content: ' ﹥';
              position: absolute;
              display: inline-block;
              right:-20px;
              color: #fff;
              transition: 0.5s;
              opacity: 0;
          }
      }
  
      &:hover{
          background-color: #187f8f;
  
          span::after{
              opacity: 1;
              right: -30px;
          }
      }
  
      &:active{
          background-color: #187f8f;
          box-shadow: 0 2px #666;
          transform: translateY(4px);
          transition:all 0.05s cubic-bezier(.17,.67,0,1.89);
      }
  
      @include rwd(mobile){
          width: $mbtn_width;
          .btn_orange{
              box-shadow: 0 5px #ccc;
          }
          span::after{
              display: none;
          }
      }
      @include rwd(tablet){
          width: $tbtn_width;
      }
      @include rwd(desktop){
          width: $dbtn_width;
      }
  
  }




  .btn_cyan_l {
    background-color:#1c99ae  ;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    display: inline-block;
    transition: all 0.5s;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 0 8px #ccc;
    vertical-align: middle;
  
      span{
          display: inline-block;
          position: relative;
          transition: 0.5s;
  
          &::after{
              content: ' ﹥';
              position: absolute;
              display: inline-block;
              right:-20px;
              color: #fff;
              transition: 0.5s;
              opacity: 0;
          }
      }
  
      &:hover{
          background-color:#187f8f;
  
          span::after{
              opacity: 1;
              right: -30px;
          }
      }
  
      &:active{
          background-color: #187f8f;
          box-shadow: 0 2px #666;
          transform: translateY(4px);
          transition:all 0.05s cubic-bezier(.17,.67,0,1.89);
      }
  
      @include rwd(mobile){
          width: $mbtn_width_l;
          .btn_orange{
              box-shadow: 0 5px #ccc;
              font-size: 16px;
          }
          span::after{
              display: none;
          }
      }
      @include rwd(tablet){
          width: $tbtn_width_l;
          font-size: 16px;
      }
      @include rwd(desktop){
          width: $dbtn_width_l;
          font-size: 20px;
      }
  
  }







// dropdown

// _pagination_tab

// arrow

