@import "../mixins/mixin";

// *{
//     outline: 1px solid #f00;
// }
header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.m_header{ 
    position: relative;
    .navbar{
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background: url("../image/headerfooter/m_navbar_bg.png") no-repeat 0 0 / 100% 100%;
        height: 120px;
    }
    .burger{
        width: 33%;
        figure{
            cursor: pointer;
            width: 44px;
            padding: 5px;
        }
    }
    .logo{
        // width: 33%;
        width: 170px;
        display: flex;
        justify-content: center;
        h1{
            display: none;
        }
        a{
            display: block;
        }
    }
    .status{
        width: 33%;
        display: flex;
        justify-content: flex-end;
        figure{
            width: 44px;
            margin: 0 0 0 5%;
            text-align: center;
            a{
                display: block;
                padding: 8px;
            }
        }
    }
    .menubox{
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        position: absolute;
        top: -100vh;
        transition: .5s;
        display: none;
        background:url("../image/headerfooter/m_menu_bg.png") repeat-x 0 0 / contain;
        li{
            text-align: center;
            padding: 7% 0;
            @include font_l();
            position: relative;
            a{
                color: $color_milk;
            }
        }
        @media all and (orientation: landscape){
                li{
                    padding: 2% 0;
                }  
        }
        #menuclose{
            position: absolute;
            width: 50px;
            height: 50px;
            top: 20px;
            left: 20px;
            padding: 8px;
            cursor: pointer;
        }
    }
    .menuboxopen{
        top: 0vh;
        transition: .5s;
    }
}
.d_header{
    display: none;
}
.nowpage{
    position: relative;
    top: 9px;
    &::before{
        content: "";
        background: url("../image/headerfooter/li_bg.png") no-repeat 50% 0 / contain;
        width: 100%;
        height: 25px;
        display: block;
        @include pos(-25px,0,auto,0);
    }
}
@include rwd(desktop){
    .m_header{
        display: none;
    }
    .d_header{
        display: flex;
        padding: 15px 20px;
        width: 100%;
        align-items: flex-start;
        .logo{
            width: 185px;
            h1{
                display: none;
            }
            a{
                display: block;
            }
        }
        .navbar{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .menubox{
            width: 90%;
            display: flex;
            justify-content: center;
            li{
                font-size: 18px;
                margin: 0 12px;
                position: relative;
                a{
                    color: $color_milk;
                    display: block; 
                }
            }
            @media all and (min-width: 1070px){
                li{
                    margin: 0 20px;
                }
            }
            @media all and (min-width: 1230px){
                li{
                    margin: 0 35px;
                }
            }
        }
        .status{
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
            figure{
                width: 44px;
                margin: 0 10px;
                a{
                    display: block;
                    padding: 5px;
                }
            }
        }
        &::after{
            content: "";
            background:url("../image/headerfooter/navbar_bg.png") no-repeat 0 0 / cover;
            width: 100%;
            height: 150px;
            @include pos(0,0,auto,0);
            z-index: -1;
        }   
    }
}