

// -----------------RWD------------------//

$mobile :767px;
$tablet:768px;
$desktop:992px;


// -----------------FONT------------------//
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

$font_family: 'Noto Sans TC', sans-serif;

// desktop font
$dfont_xxl:48px;
$dfont_xl:36px;
$dfont_l:28px;
$dfont_m:20px;
$dfont_s:16px;

// tablet font
$tfont_xxl:40px;
$tfont_xl:32px;
$tfont_l:24px;
$tfont_m:18px;
$tfont_s:16px;

// mobile font
$mfont_xxl:32px;
$mfont_xl:26px;
$mfont_l:24px;
$mfont_m:18px;
$mfont_s:16px;







// -----------------BUTTON------------------//



$dbtn_width_s:90px;
$tbtn_width_s:90px;
$mbtn_width_s:60px;



$dbtn_width_m:110px;
$tbtn_width_m:110px;
$mbtn_width_m:100px;



$dbtn_width_l:200px;
$tbtn_width_l:170px;
$mbtn_width_l:120px;



$dbtn_width_xl:270px;
$tbtn_width_xl:240px;
$mbtn_width_xl:200px;



// -----------------BUTTON------------------//


// -----------------COLOR------------------//
$color_milk: #F0ECDD;
$color_gray: #F0ECDD;
$color_ship: #84512F;
$color_brown: #592F13;
